<!doctype html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
	
	<title>Fenavist</title>
	
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="../static/css/bootstrap_ms.css"> -->
	<link rel="stylesheet" href="../static/css/glyphicons2.css">
	<link rel="stylesheet" href="../static/css/ajustes-fenavist.css">

	<!-- <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../static/img/favicon.ico" type="image/x-icon"> -->

</head>

<body>

<h1>Contato / Ouvidoria</h1>

	<!-- Formulário de contato contendo os campos Nome, email, assunto, telefone com DDD, Empresa/sindicato, mensagem.
Inserir também mapa do Google com endereço e localização da Sede. -->

	Federação Nacional das Empresas de Segurança e Transporte de Valores - Fenavist
	Setor Bancário Sul, Quadra 02, Lote 15, Bloco E, Edifício Prime, Salas 1601/1602.
	CEP 70070-120, Brasília-DF, Brasil.
	

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>