<!doctype html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
	
	<title>Fenavist</title>

	<!-- http://getbootstrap.com/customize/?id=18050018a1dfb49a681c -->
	
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="../static/css/bootstrap_ms.css"> -->
	<link rel="stylesheet" href="../static/css/glyphicons2.css">
	<link rel="stylesheet" href="../static/css/ajustes-fenavist.css">

	<!-- <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../static/img/favicon.ico" type="image/x-icon"> -->

</head>

<body>

<h1>Institucional</h1>

	<h2>O que é a Fenavist</h2>

		<!-- embed: http://youtu.be/dvEu4VxFh6M -->

		<p>A Federação Nacional das Empresas de Segurança e Transporte de Valores, Fenavist, é uma entidade sindical patronal criada para representar os interesses do segmento de segurança privada brasileiro.</p>
		 
		<p>Com sede em Brasília, a Federação agrega sindicatos nas 27 unidades federativas do país, duas associações e empresas associadas que representam cerca de 2300 empresas, responsáveis pela geração de mais de 700 mil empregos diretos. A Fenavist tem jurisdição nacional sendo também filiada à Confederação Nacional do Comércio - CNC.</p>
		 
		<p>Em parceria com os sindicatos, a Fenavist tem o compromisso de representar os empresários de segurança de forma ampla e transparente, com o objetivo de unir a comunidade de segurança privada no Brasil, prestando serviços e promovendo modernização e crescimento para a atividade.</p>

	<h2>Histórico</h2>

		<p>A Fenavist foi criada em 1º de março de 1989 para congregar as empresas das categorias representadas pelos sindicatos de segurança, transporte de valores e cursos de formação de vigilantes.</p>

		<p>Primeiro Presidente: Eunício Lopes de Oliveira</p>

		<p>Sindicatos fundadores: Sindesp/DF, Sindesp/RJ, Sindesp/RS, Sindesp/CE, Sindesp/PR, Sindesp/MG, Sindesp/PE.</p>

		<p>Atualmente, impulsionada pelo propósito de representar o segmento em todo o país, a Fenavist tem buscado inovar na qualidade dos serviços prestados e modernizar-se para acompanhar as mudanças do país.</p>

	<h2>Missão</h2>

		<p>"Assegurar às atividades de segurança privada melhores condições para gerar resultados positivos e contribuir para o desenvolvimento da sociedade."</p>

	<h2>Atividades</h2>

		<p>De acordo com prerrogativas constitucionais, a entidade exerce diversas atividades no trabalho de representação sindical:</p>

		<ul>
			<li>Intercede junto a autoridades competentes em busca de soluções e entendimentos com base nos interesses e direitos da categoria;</li>
			<li>Promove e assiste as empresas na realização e elaboração de Convenções e Acordos Coletivos de Trabalho, bem como auxilia na resolução de conflitos em dissídios coletivos;</li>
			<li>Celebra convênios e parcerias com sindicatos, entidades, empresas públicas e privadas, entre outros, no intuito de unir forças em assuntos de interesse comum;</li>
			<li>Participa da administração dos serviços sociais SESC e SENAC, por meio de conselheiros eleitos;</li>
			<li>Desenvolve trabalho junto a Confederação Nacional do Comércio (CNC);</li>
			<li>Exerce representatividade na Comissão Consultiva para Assuntos de Segurança Privada (CCASP).</li>
		</ul>

		<!-- Atividades da gerência -->
		<ul>
			<li>Supervisiona o trabalho da equipe administrativa da Fenavist e atua como elo entre as ações e decisões políticas e o trabalho operacional, visando o cumprimento da missão da Fenavist de representar com ética e excelência o setor de segurança privada brasileiro.</li>
		</ul>

	<h2>Estatuto</h2>

		<a href="http://www.fenavist.org.br/downloads/Estatuto_Fenavist2014.pdf">Estatuto</a>

	<h2>Recursos</h2>

		<p>O sistema de representação sindical do setor de segurança privada é suprido essencialmente pelas contribuições dos associados, que são:</p>
 
		<p>Contribuição Sindical: calculada com base no capital social das empresas, tem o valor arrecadado dividido entre sindicatos (60%), Fenavist (15%), CNC (5%) e Ministério do Trabalho e Emprego – MTE (20%).</p>
		 
		<p>Contribuição Confederativa: calculada com base no número de vigilantes. O valor arrecadado é repassado em diferentes percentuais para sindicatos (75%), Fenavist (20%) e CNC (5%).</p>

	<h2>Organograma</h2>

		<img src="http://www.fenavist.com.br/images/organograma.gif">

	<h2>Jurídico</h2> <!-- sugestão do Aguirre: tooltip contendo descrição dos itens Jurídico -->

		<p>Orienta a Fenavist e seus sindicatos filiados em questões jurídicas de cunho nacional, produzindo pareceres e análises sobre regulamentações, com o intuito de apontar implicações e antecipar o posicionamento do setor, além de esclarecer dúvidas e direcionar os sindicatos. A Consultoria Jurídica está sempre presente às reuniões da Federação para esclarecer questionamentos dos associados. A formulação de argumentações legais, redação de documentos oficiais e acompanhamento de audiências com órgãos federais, na defesa dos interesses legítimos do setor, também fazem parte do trabalho deste departamento.</p>

	<h2>Estatística</h2>

		<p>Centro de referência de dados estatísticos da segurança privada no Brasil. Possui o mais atualizado banco de dados do setor, com informações que vão desde o comportamento das empresas até dados socioeconômicos do segmento. Em 2004, a Federação publicou o Estudo do Setor da Segurança Privada (ESSEG), que oferece um panorama atualizado das atividades do setor. Outra ferramenta desse departamento é o Sistema de Apoio a Decisões (SAD), que armazena diversos dados cadastrais das empresas, permitindo a Fenavist acompanhar a movimentação junto ao Departamento de Polícia Federal. A Estatística mantém parcerias com diversos órgãos federais, sindicatos e entidades, o que facilita a atualização dos dados.</p>

	<h2>Assessoria</h2>

		<p>Identifica e acompanha decisões que são analisadas pelo Congresso Nacional e Legislativos Estaduais, em parceria com sindicatos locais. Trabalha também para aumentar o relacionamento do setor com parlamentares, levando informações sobre a dinâmica e as características do segmento.</p>

	<h2>Consultoria Econômica</h2>

		<p>Presta assessoria econômica ao setor de segurança privada, elaborando, analisando e reformulando planilhas de custos administrativos, formação de preços, piso salarial, encargos sociais, entre outras. Desenvolve também um trabalho de pesquisa e elaboração de análises econômicas e financeiras do setor.</p>

	<h2>Consultoria de Comunicação</h2>

		<p>Responsável pelo planejamento, execução, coordenação e avaliação das ações de comunicação social, visando reforçar o conhecimento e o entendimento da sociedade sobre a importância do setor de segurança privada. Procura manter o correto posicionamento da imagem institucional da Federação junto aos públicos interno (sindicatos, empresas) e externo (Executivo, Legislativos, Imprensa, Organismos Internacionais e outras Entidades Sindicais). Para disseminar informações de interesse do setor, a consultoria desenvolve um trabalho de aproximação entre a mídia e a instituição, além de produzir publicações como a Revista da Fenavist (quadrimestral), as Atuações semanais, Releases, artigos e notícias do setor no Facebook.</p>

	<h2>Presidência</h2>

		<h3>JEFERSON FURLAN NAZÁRIO</h3>

			<img src="http://www.fenavist.com.br/images/DSC_13501_novoo.jpg">

			<p>No ano 1995, formou-se em Educação Física pela Pontifícia Universidade Católica - PUC do Estado do Paraná. Em 2002, concluiu o curso de Direito pela Universidade do Tuiuti no Paraná.</p>

			<p>Possui 30 anos de experiência em empresas prestadoras de Serviços de Vigilância e limpeza, trabalhando sempre nas áreas administrativa, financeira e comercial.</p>

			<p>Exerceu, durante 10 anos, o cargo de Diretor Executivo da empresa G5 - Grupo Cinco Sistemas Integrados de Segurança Soc Ltda., que opera no ramo de segurança eletrônica.</p>

			<p>Desde 1998 atua como Sócio Administrativo na empresa EMBRASIL – Empresa Brasileira de Segurança Ltda., que atua no segmento de vigilância orgânica, na cidade de Curitiba/PR.</p>

			<p>Elaborou diversos trabalhos na área de custos e obteve a participação em diversas Conferências, Palestras e Congressos nas áreas de Vigilância Física e Monitorada, como de Limpeza e Conservação.</p>

			<p>Recebeu diversos prêmios e homenagens. Dentre eles destacamos:</p>

			<ul>
				<li>Prêmio Personalidades Empreendedoras do Estado do Paraná em 2008, concedido pela Assembleia Legislativa do Paraná.</li>
				<li>Troféu “Amigo da Classe” em 2009, concedido pelo SINDESP/GO.</li>
				<li>Prêmio Benemérito em Segurança Privada Estadual em 2007, concedido pela FENAVIST.</li>
				<li>Título de Cidadão Honorário de Curitiba, concedido pelo vereador da Câmara Municipal Manassés de Oliveira.</li>
			</ul>

			<p>No período de 2004 a 2006, assumiu o cargo de Vice-Presidente do SINDESP-PR. Devido ao seu reconhecimento, participação e competência, em 2006 foi eleito Presidente do Sindicato das Empresas de Segurança do Estado do Paraná – SINDESP/PR, onde desenvolveu um excelente trabalho em prol do segmento.</p>

			<p>Em 2014, foi reeleito como presidente do SINDESP-PR com gestão até 2018. Além dos cargos exercidos no SINDESP-PR, assumiu diversos cargos na FENAVIST:</p>

			<ul>
				<li>
					<strong>22/06/2004 a 22/06/2007</strong>
					<p>Vice-Presidente para Assuntos da Região Sul Adjunto</p>
				</li>
				<li>
					<strong>23/06/2007 a 22/06/2010</strong>
					<p>Vice-Presidente para Assuntos de Segurança Eletrônica</p>
				</li>
				<li>
					<strong>23/06/2010 a 09/06/2011</strong>
					<p>Vice-Presidente para Assuntos da Região Sul<br>
					Delegado Representante Junto a CNC Adjunto</p>
				</li>
				<li>
					<strong>09/06/2011 a 22/06/2014</strong>
					<p>Vice-Presidente Nacional<br>
					Delegado Representante junto à CNC</p>
				</li>
				<li>
					<strong>22/06/2014 a 22/06/2018</strong>
					<p>Presidente Nacional da Federação Nacional de Empresas de Segurança e Transporte de Valores – FENAVIST, com gestão até 2018.</p>
				</li>
				<li>
					Tem como principal objetivo a união, o fortalecimento e principalmente a regularização das empresas de segurança no Estado do Paraná e no Brasil.
				</li>
			</ul>

	<h2>Diretoria</h2>

		<h3>Diretoria Executiva:</h3>
 
			<p>Eleição: 23 de abril de 2014<br>
			Mandato: 23 de junho de 2014 a 22 de junho de 2018</p>

			<ul>
				<li>
					<strong>Jeferson Furlan Nazário</strong>
					<p>Presidente Nacional</p>
				</li>
				<li>
					<strong>João Eliezer Palhuca</strong>
					<p>Vice-Presidente Nacional</p>
				</li>
				<li>
					<strong>Leonardo Vieira</strong>
					<p>Vice-Presidente Nacional Adjunto</p>
				</li>






				
				<li>
					<strong>Ricardo Roland Rocha</strong>
					<p>Vice-Presidente para Assuntos de Relacionamento Intersindical</p>
				</li>
				<li>
					<strong>Aldair Neves Pinto Júnior</strong>
					<p>Vice-Presidente para Assuntos de Relacionamento Intersindical Adjunto</p>
				</li>
				<li>
					<strong>Autair Iuga</strong>
					<p>Vice-Presidente para Assuntos de Escolta Armada</p>
				</li>
				<li>
					<strong>Antonio Laete Cabral Filho</strong>
					<p>Vice-Presidente para Assuntos de Escolta Armada Adjunto</p>
				</li>
				<li>
					<strong>Ivan Hermano Filho</strong>
					<p>Vice-Presidente para Assuntos de Segurança Pessoal Privada</p>
				</li>
				<li>
					<strong>João José Andrade de Almeida</strong>
					<p>Vice-Presidente para Assuntos de Segurança Pessoal Privada Adjunto</p>
				</li>
				<li>
					<strong>Francisco de Assis Moura</strong>
					<p>Vice-Presidente para Assuntos de Segurança Patrimonial</p>
				</li>
				<li>
					<strong>Sidney Tinoco</strong>
					<p>Vice-Presidente para Assuntos de Segurança Patrimonial Adjunto</p>
				</li>
				<li>
					<strong>Renato Fortuna Campos</strong>
					<p>Vice-Presidente para Assuntos de Novas Tecnologias</p>
				</li>
				<li>
					<strong>André Luiz Costa Machado</strong>
					<p>Vice-Presidente para Assuntos de Novas Tecnologias Adjunto</p>
				</li>
				<li>
					<strong>José Evaldo Vieira</strong>
					<p>Vice-Presidente para Assuntos de Relacionamento com o Poder Legislativo</p>
				</li>
				<li>
					<strong>João Bosco Suzano Giantaglia</strong>
					<p>Vice-Presidente para Assuntos de Relacionamento com o Poder Legislativo Adjunto</p>
				</li>
				<li>
					<strong>Waldemar Pellegrino Júnior</strong>
					<p>Vice-Presidente para Assuntos de Cultura, Esporte e Lazer Sustentável</p>
				</li>
				<li>
					<strong>Paulo Cesar Baltazar Viana</strong>
					<p>Vice-Presidente para Assuntos de Cultura, Esporte e Lazer Sustentável Adjunto</p>
				</li>
				<li>
					<strong>Paulo Sérgio Macêdo</strong>
					<p>Vice-Presidente para Assuntos Parlamentares</p>
				</li>
				<li>
					<strong>Marco Antônio Alegre da Costa</strong>
					<p>Vice-Presidente para Assuntos Parlamentares Adjunto</p>
				</li>
				<li>
					<strong>Carlos Gualter Gonçalves de Lucena</strong>
					<p>Vice-Presidente de Coordenação de Base de Apoio Parlamentar</p>
				</li>
				<li>
					<strong>Amauri de Oliveira Soares</strong>
					<p>Vice-Presidente de Coordenação de Base de Apoio Parlamentar Adjunto</p>
				</li>
				<li>
					<strong>Adriano Macedo da Fonseca</strong>
					<p>Vice-Presidente para Assuntos de Saúde e Medicina do Trabalho</p>
				</li>
				<li>
					<strong>William Benfica Silva</strong>
					<p>Vice-Presidente para Assuntos de Saúde e Medicina do Trabalho Adjunto</p>
				</li>
				<li>
					<strong>Edmilson Pereira de Assis</strong>
					<p>Vice- Presidente para Assuntos de Qualificação Profissional</p>
				</li>
				<li>
					<strong>Antônio Vasco Pereira Filho</strong>
					<p>Vice- Presidente para Assuntos de Qualificação Profissional Adjunto</p>
				</li>
				<li>
					<strong>Leslie Castelo de Vasconcelos</strong>
					<p>Vice- Presidente para Assuntos de Políticas Municipais</p>
				</li>
				<li>
					<strong>Jonivaldo de Oliveira Moreira</strong>
					<p>Vice- Presidente para Assuntos de Políticas Municipais Adjunto</p>
				</li>
				<li>
					<strong>Renê Rodrigues de Mendonça Filho</strong>
					<p>Vice-Presidente para Assuntos da Região Norte</p>
				</li>
				<li>
					<strong>Francisco de Assis Bezerra da Fonseca</strong>
					<p>Vice-Presidente para Assuntos da Região Norte Adjunto</p>
				</li>
				<li>
					<strong>Lauro Santana Silva</strong>
					<p>Vice-Presidente para Assuntos da Região Nordeste</p>
				</li>
				<li>
					<strong>Cesar Marques de Carvalho</strong>
					<p>Vice-Presidente para Assuntos da Região Nordeste Adjunto</p>
				</li>
				<li>
					<strong>Angelo Roberto Jacomini</strong>
					<p>Vice-Presidente para Assuntos da Região Centro-Oeste</p>
				</li>
				<li>
					<strong>Nilva Aparecida Lopes Jacomini</strong>
					<p>Vice-Presidente para Assuntos da Região Centro-Oeste Adjunta</p>
				</li>
				<li>
					<strong>Carlos Eduardo Escobal</strong>
					<p>Vice-Presidente para Assuntos da Região Sudeste</p>
				</li>
				<li>
					<strong>Alberto Minazzoli</strong>
					<p>Vice-Presidente para Assuntos da Região Sudeste Adjunto</p>
				</li>
				<li>
					<strong>Paulo Renato Pacheco</strong>
					<p>Vice-Presidente para Assuntos da Região Sul</p>
				</li>
				<li>
					<strong>Jerri Bertoni Macedo</strong>
					<p>Vice-Presidente para Assuntos da Região Sul Adjunto</p>
				</li>
				<li>
					<strong>Lélio Vieira Carneiro</strong>
					<p>1º Conselheiro Fiscal</p>
				</li>
				<li>
					<strong>Paulo Roberto da Cruz Azevedo</strong>
					<p>2º Conselheiro Fiscal</p>
				</li>
				<li>
					<strong>Sandro Maurício Smaniotto</strong>
					<p>3º Conselheiro Fiscal</p>
				</li>
				<li>
					<strong>Ivan Zanardo</strong>
					<p>1º Conselheiro Fiscal Suplente</p>
				</li>
				<li>
					<strong>Manoel dos Anjos Almeida</strong>
					<p>2º Conselheiro Fiscal Suplente</p>
				</li>
				<li>
					<strong>Vivaldi Pereira Rodrigues</strong>
					<p>3º Conselheiro Fiscal Suplente</p>
				</li>
				<li>
					<strong>Odair de Jesus Conceição</strong>
					<p>1º Delegado Representante junto a CNC</p>
				</li>
				<li>
					<strong>Lélio Vieira Carneiro</strong>
					<p>2º Delegado Representante junto a CNC</p>
				</li>
				<li>
					<strong>José Adir Loiola</strong>
					<p>3º Delegado Representante junto a CNC</p>
				</li>
				<li>
					<strong>Urubatan Estevam Romero</strong>
					<p>4º Delegado Representante junto a CNC</p>
				</li>
				<li>
					<strong>Lélio Vieira Carneiro</strong>
					<p>1º Conselheiro Nacional do SESC</p>
				</li>
				<li>
					<strong>José Adir Loiola</strong>
					<p>2º Conselheiro Nacional do SESC</p>
				</li>
				<li>
					<strong>Leonardo Ottoni Vieira</strong>
					<p>1º Conselheiro Nacional do SENAC</p>
				</li>
				<li>
					<strong>Jacymar Delfinno Dalcamini</strong>
					<p>2º Conselheiro Nacional do SENAC</p>
				</li>
			</ul>

		<h3>Diretoria Executiva (Mandatos Anteriores)</h3>

			<ul>
				<li>
					<strong>Mandato: 23 de junho de 2010 a 22 de junho de 2014</strong>
					<p>Presidente: Odair Conceição</p>
				</li>
				<li>
					<strong>Mandato: 01 de maio de 2000 a 22 de junho de 2010</strong>
					<p>Presidente: Jerfferson Simões</p>
				</li>
				<li>
					<strong>Mandato: 01 de janeiro de 1998 a 30 de abril de 2000</strong>
					<p>Presidente: Cláudio Neves</p>
				</li>
				<li>
					<strong>Mandato: 20 de agosto de 1992 a 31 de dezembro de 1997</strong>
					<p>Presidente: Lélio Vieira Carneiro</p>
				</li>
				<li>
					<strong>Mandato: 01 de março de 1989 a 20 de agosto de 1992</strong>
					<p>Presidente: Eunício Lopes de Oliveira</p>
				</li>
			</ul>
			
	<h2>Comissões</h2>

		<h3>Comissão Bancária</h3>
		 
			<ul>
				<li>Alfredo Ibiapina (coordenador)</li>
				<li>André Luiz Costa Machado</li>
				<li>Irenaldo Pereira Lima</li>
				<li>Leonardo Ottoni</li>
				<li>Luis Alfonso Freguli</li>
			</ul>

		<h3>Comissão Prêmio Mérito de Serviços</h3>
		 
			<ul>
				<li>Victor Saeta de Aguiar (coordenador)</li>
				<li>Lauro Santana Silva</li>
				<li>Lélio Vieira Carneiro</li>
				<li>Leonardo Ottoni Vieira</li>
				<li>Marco Aurélio Pinheiro Tarqínio</li>
				<li>Sandro Mauricio Smaniotto</li>
			</ul>

		<h3>Comissão para Grandes Eventos</h3>
		 
			<ul>
				<li>Jeferson Furlan Nazário (coordenador)</li>
				<li>Edson da Silva Torres</li>
				<li>Alfredo Vieira Ibiapina</li>
				<li>Leonardo Ottoni Vieira</li>
				<li>Carlos EscobalWanderley Aranha</li>
				<li>Cel. Francisco Lopes</li>
			</ul>

		<h3>Comissão Parlamentar</h3>
		 
			<ul>
				<li>Carlos Escobal (coordenador)</li>
				<li>Marcos Paiva</li>
				<li>Jerfferson Simões</li>
				<li>Lélio Vieira Carneiro</li>
				<li>Jeferson Furlan NazárioEdson da Silva Torres</li>
				<li>José Rossini Araújo Braulino</li>
				<li>Lauro Santana Silva</li>
				<li>Wanderley Aranha</li>
				<li>Paulo Sérgio Macedo</li>
				<li>Cléria Santos</li>
				<li>Renalegis</li>
			</ul>

		<h3>Comissão de Finanças</h3>
		 
			<ul>
				<li>Leonardo Ottoni Vieira (coordenador)</li>
				<li>Odair Conceição</li>
				<li>Lélio Vieira Carneiro</li>
				<li>Carlos Escobal</li>
				<li>José Rossini AraújoBraulino</li>
				<li>Lauro Santana Silva</li>
			</ul>

	<h2>Parcerias e Convênios</h2>

		<img src="http://www.fenavist.org.br/images/interna/mezzo.gif">

		<p>A <strong>MEZZO PLANEJAMENTO</strong> fundada em 1993, realiza serviços de assessoria e consultoria de planejamento econômico-financeiro para empresas, governos e entidades associativas que congregam setores e cadeias-produtivas.</p>
 
		<p>A <strong>MEZZO</strong> trabalha em parceria com a <strong>FENAVIST</strong>, realizando um grande trabalho de consultoria para ajudar a profissionalizar e fortalecer o setor. Essa atividade contempla diversas iniciativas, como: a estruturação das informações estatísticas, a criação de um canal de comunicação entre as entidades e empresas e a criação de mecanismos de estabilização das relações econômicas do setor.</p>

		<img src="http://www.fenavist.org.br/images/interna/datasafe.gif">

		<p>A empresa <strong>DATASAFE MERCANTIL E SERVIÇOS LTDA</strong>. foi constituída em 9 de dezembro de 1987, com o objetivo de cumprir as disposições legais que regem a segurança privada, acompanhando suas alterações e propiciando a normalização, além da elaboração dos documentos, relatórios e controles necessários para as empresas de segurança jurídica.</p>

		<p>A <strong>DATASAFE</strong> é amparada na maior base de dados e imagens sobre a atividade de segurança privada no país, podendo uma pequena parte disso ser conferida no endereço eletrônico da empresa. Possui, ainda, agenda de compromissos e prazos desenvolvida internamente, para controle de prazos procedimentais; roteiros para todos os processos e suas etapas, de forma que o cliente possa aplicar um “check-list” para cada situação.</p>

		<p>Com notoriedade no que se refere às normas e regulamentos do segmento de segurança privada, a <strong>DATASAFE</strong> trabalha ao lado da <strong>FENAVIST</strong> na busca pelo entendimento das leis que regem o setor, buscando respostas às dúvidas que são levadas à Federação por parte das empresas associadas.</p>

		<p>Para conhecer melhor os serviços prestados pela <strong>DATASAFE</strong> visite o site <a href="http://www.datasafe.com.br">www.datasafe.com.br</a>.</p>

	<h2>Sindicatos</h2>

		<ul>
			<li>
				<strong>SINDESP/AC</strong><br>
				Endereço: Rua Estrada Da Usina Nº 1115 - Morada Do Sul - Morada Do Sul - Rio Branco - AC - 69900-220<br>
				Telefone: (68) 3223-9672<br>
				E-mail: <a href="mailto: sindespac@hotmail.com">sindespac@hotmail.com</a><br>
				Presidente: Leslie Castelo de Vasconcelos
			</li> 
			<li>
				<strong>SINDESP/AL</strong><br>
				Endereço: R Dr.Luis Pontes De Miranda Nº 36 Ed. Delmiro,Sl 305 - Centro - Pça. Palmares Alagoas - 57120-670<br>
				Telefone: (82) 3326-1325<br>
				E-mail: <a href="mailto:sindesp-albr@ig.com.br">sindesp-albr@ig.com.br</a><br>
				Presidente: Marcus Vinícius Castro do Nascimento 
			</li> 
			<li>
				<strong>SINDESP/AP</strong><br>
				Endereço: Rua Jovino Dinoá Nº 1770 - Centro - Macapá - AP - 68900-000<br>
				Telefone: (96) 3242-5484<br>
				E-mail: <a href="mailto:sindespap@ig.com.br">sindespap@ig.com.br</a><br>
			</li> 
			<li>
				<strong>SINDESP/AM</strong><br>
				Endereço: Rua Estrada Da Usina Nº 1115 - Morada Do Sul - Morada Do Sul - Rio Branco - AC - 69900-220<br>
				Telefone: (92) 363-1213<br>
				E-mail: <a href="mailto:sindespam@bol.com.br">sindespam@bol.com.br</a><br>
				Presidente: José Pacheco Ferreira
			</li> 
			<li>
				<strong>SINDESP/BA</strong><br>
				Endereço: Av.Tancredo Neves, nº 274  Bloco “B” Centro Emp.Iguatemi Sl 421/422 Pituba - CEP 41820-020 - Salvador - BA<br>
				Telefone: (71) 3450-0411 / 0563<br>
				E-mail: <a href="mailto:sindespba@terra.com.br">sindespba@terra.com.br</a><br>
				Presidente: Lauro Santana Silva
			</li> 
			<li>
				<strong>SINDESP/CE</strong><br>
				Endereço: Rua Pereira Filgueiras, 20220 Sl 303/304 - Aldeota - Fortaleza – CE - 60160-150<br>
				Telefone: (85) 3244-5599 e 3264-3084<br>
				E-mail: <a href="mailto:sindesp-ce@fortalnet.com.br">sindesp-ce@fortalnet.com.br</a><br>
				Presidente: Urubatan Estevan Romero
			</li> 
			<li>
				<strong>SINDESP/DF</strong><br>
				Endereço: Saan Quadra 03 Lote 1300 - Brasília - DF - 70.632-300<br>
				Telefone: (61) 3233-9922 / 8338<br>
				E-mail: <a href="mailto:sindesp@sinesp-df.com.br">sindesp@sinesp-df.com.br</a><br>
				Presidente: Patrocínio Valverde de Morais Neto
			</li> 
			<li>
				<strong>SINDESP/ES</strong><br>
				Endereço: Av. Cesar Helal, 323 Bento Ferreira - Bento Ferreira - Vitória - ES -29050-657<br>
				Telefone: (27) 3325-5025<br>
				E-mail: <a href="mailto:sindesp.vix@terra.com.br">sindesp.vix@terra.com.br</a><br>
				Presidente: Jacymar Delfino Dalcamini
			</li> 
			<li>
				<strong>SINDESP/GO</strong><br>
				Endereço: Rua Dos Bombeiros Qd. 248 Lts 12, 14 E 15 - Pq Amazônia- Goiânia - GO - 74.835-210<br>
				Telefone: (62) 3218-5946 / 5174<br>
				E-mail: <a href="mailto:sindespgoias@uol.com.br">sindespgoias@uol.com.br</a><br>
				Presidente: Leonardo Ottoni Vieira
			</li> 
			<li>
				<strong>SINDESP/MA</strong><br>
				Endereço: Rua Oswaldo Cruz,1555 - Sala 708 - 7º Andar - Ed. João Pessoa - São Luís - MA - 65020-251<br>
				Telefone: (98) 3221-4557<br>
				E-mail: <a href="mailto:sindespma@bol.com.br">sindespma@bol.com.br</a><br>
				Presidente: Domingos Alcântara Gomes
			</li> 
			<li>
				<strong>SINDESP/MG</strong><br>
				Endereço: Av.Raja Gabáglia, 1492 Sl 1001/1004-10º Andar - Belo Horizonte - MG - 30.441-194<br>
				Telefone: (31) 3327-5300<br>
				E-mail: <a href="mailto:sindesp-mg@sindesp-mg.com.br">sindesp-mg@sindesp-mg.com.br</a><br>
				Presidente: Edson Pinto Neto
			</li> 
			<li>
				<strong>SINDESP/MT</strong><br>
				Endereço: R.Des.Ferreira Mendes 233 Ed Master Center Sl 2/3 - Centro Sul - Cuiabá - MT - 78020-200<br>
				Telefone: (65) 3027-6607 / 3607<br>
				E-mail: <a href="mailto:secretaria@sindesp-mt.com.br">secretaria@sindesp-mt.com.br</a><br>
				Presidente: Angelo Roberto Jacomini
			</li> 
			<li>
				<strong>SINDESP/MS</strong><br>
				Endereço: Rua Dom Aquino, 1354 - 8° Andar Sl 87 Centro - Campo Grande - MS - 79002-180<br>
				Telefone: (67) 3382-9907 / 0400<br>
				E-mail: <a href="mailto:sindesvms@brturbo.com.br">sindesvms@brturbo.com.br</a><br>
				Presidente: Francisco de Assis Moura
			</li> 
			<li>
				<strong>SINDESP/PA</strong><br>
				Endereço: Rua Dos Mundurucus, 3.100  Ed Metropolitan Tower - Guamá - Belém - PA - 66.073-000<br>
				Telefone: (91) 3246-3436<br>
				E-mail: <a href="mailto:gerencia.sindesp@sindesp-pa.com.br">gerencia.sindesp@sindesp-pa.com.br</a><br>
				Presidente: Oziel Mattos Carneiro
			</li> 
			<li>
				<strong>SINDESP/PB</strong><br>
				Endereço: Av. Dom Pedro Ii, 1269 Sala 802/803 Ed Sintese - Centro - João Pessoa - PB - 58.013-000<br>
				Telefone: (83) 3241-6466 / 6489<br>
				E-mail: <a href="mailto:sindesp-pb@hotmail.com">sindesp-pb@hotmail.com</a><br>
				Presidente: Elson Batista Ramos
			</li>
			 <li>
				<strong>SINDESP/PE</strong><br>
				Endereço: Av. Agamenon Magalhães, 2764 Sala 103 Ed Emp.Ant - Albuq.Gal.Espinheiro - Recife - PE - 52.020-000<br>
				Telefone: (81) 3421-4520 e 3423-5032<br>
				E-mail: <a href="mailto:sindesp@sindesp-pe.com.br">sindesp@sindesp-pe.com.br</a><br>
				Presidente: Agostinho Rocha Gomes
			</li> 
			<li>
				<strong>SINDESP/PR</strong><br>
				Endereço: Rua João Parolin, Nº 1416 – Parolin CEP 80220-290 Curitiba – PR<br>
				Telefone: (41) 3233-6787 / 6880<br>
				E-mail: <a href="mailto:sindesp-pr@sindesp-pr.org.br">sindesp-pr@sindesp-pr.org.br</a><br>
				Presidente: Jeferson Furlan Nazário
			</li> 
			<li>
				<strong>SINDESP/PI</strong><br>
				Endereço: Av. Miguel Rosa, 3680 - Centro - Av. Miguel Rosa, 3680 - Centro - PI - 64001-490<br>
				Telefone: (86) 2107-1418 / 1428<br>
				E-mail: <a href="mailto:seac_pi@terra.com.br">seac_pi@terra.com.br</a><br>
				Presidente: Francisco de Assis Veras Fortes
			</li> 
			<li>
				<strong>SINDESP/RJ</strong><br>
				Endereço: Av. Paulo De Frontin, 383 - Rio Comprido - Rio De Janeiro Rio De Janeiro - RJ - 20261-240<br>
				Telefone: (21) 2293-4354 e 2502-6601<br>
				E-mail: <a href="mailto:sindesp-rj@veloxmail.com.br">sindesp-rj@veloxmail.com.br</a><br>
				Presidente: Frederico Carlos Crim Camara
			</li> 
			<li>
				<strong>SINDESP/RN</strong><br>
				Endereço: Av.Odilon Gomes De Lima, 1727 Sala 06 Pred.Comerc - Capim Macio - Natal - RN - 59078-400<br>
				Telefone: (84) 3217-0476<br>
				E-mail: <a href="mailto:sindesprn@hotmail.com">sindesprn@hotmail.com</a><br>
				Presidente: José Rossini Araújo Braulino
			</li> 
			<li>
				<strong>SINDESP/RO</strong><br>
				Endereço: Rua Belém Nº 501 - Pedacinho De Chão - Porto Velho - RO - 76820-734<br>
				Telefone: (69) 3212-0404<br>
				E-mail: <a href="mailto:sindespro@hotmail.com">sindespro@hotmail.com</a><br>
				Presidente: Francisco Assis B. Fonseca
			</li> 
			<li>
				<strong>SINDESP/RR</strong><br>
				Endereço: Av. São Paulo 568 - Bairro Dos Estados - Boa Vista - RR - 69305-480<br>
				Telefone: (95) 3224-8109 / 1338<br>
				E-mail: <a href="mailto:transvig@transvig.com.br">transvig@transvig.com.br</a><br>
				Presidente: Raimundo Nonato Rodrigues Coelho
			</li> 
			<li>
				<strong>SINDESP/RS</strong><br>
				Endereço: Av. Getúlio Vargas, 1570 Sala 207 - Porto Alegre - RS -90150-004<br>
				Telefone: (51) 3233-7172 / 9744<br>
				E-mail: <a href="mailto:sindesprs@terra.com.br">sindesprs@terra.com.br</a><br>
				Presidente: Paulo Renato Pacheco
			</li> 
			<li>
				<strong>SINDESP/SC</strong><br>
				Endereço: R.Deodoro,226 Ed. Marco Pólo 4° Andar - Centro - Florianópolis - SC - 88010-020<br>
				Telefone: (48) 3223-1678 / 1393<br>
				E-mail: <a href="mailto:sindesp@sindesp-sc.org.br">sindesp@sindesp-sc.org.br</a><br>
				Presidente: Dilmo Wanderley Berger
			</li> 
			<li>
				<strong>SINDESP/SE</strong><br>
				Endereço: Av.Rio Branco, 186-Ed. Oviedo Teixeira Sl 408/410  - Centro - Aracaju - SE - 48018-000<br>
				Telefone: (79) 3211-2284<br>
				E-mail: <a href="mailto:sindesp-se@infonet.com.br">sindesp-se@infonet.com.br</a><br>
				Presidente: Marco Aurélio Pinheiro Tarquínio
			</li> 
			<li>
				<strong>SESVESP</strong><br>
				Endereço: R. Bernadino Fanganiello, 691 Casa Verde Baixa - São Paulo - SP - 02512-000<br>
				Telefone: (11) 3858-7360<br>
				E-mail: <a href="mailto:sesvesp@sesvesp.com.br">sesvesp@sesvesp.com.br</a><br>
				Presidente: João Eliezer Palhuca
			</li> 
			<li>
				<strong>SINDESP/TO</strong><br>
				Endereço: Rua Buenos Aires Nº 493 - Setor Martin Jorge - Martin Jorge - Araguaína - TO - 77817-530<br>
				Telefone: (63) 3213-2288<br>
				E-mail: <a href="mailto:sindespto@uol.com.br">sindespto@uol.com.br</a><br>
				Presidente: Renê Rodrigues de Mendonça Filho
			</li> 
			<li>
				<strong>SINESVINO</strong><br>
				Endereço: Rua Julio de Castilhos, 651 Sala 109 – Centro – Farroupilha – RS 95180-000<br>
				Telefone: (54) 3268-6555<br>
				E-mail: <a href="mailto:sinesvino@gmail.com">sinesvino@gmail.com</a><br>
				Presidente: Vivaldi Pereira Rodrigues
			</li>
		</ul>



<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>