<!doctype html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
	
	<title>Fenavist</title>
	
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="../static/css/bootstrap_ms.css"> -->
	<link rel="stylesheet" href="../static/css/glyphicons2.css">
	<link rel="stylesheet" href="../static/css/ajustes-fenavist.css">

	<!-- <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../static/img/favicon.ico" type="image/x-icon"> -->

</head>

<body>

<h1>Jurídico</h1>

	<h2>Relatórios Mensais</h2>

		<!-- Relatórios Mensais: não encontrei no site -->
		<!-- Lista dos relatórios em PDF (sugestão: filtro em angular por Ano) -->

	<h2>Legislação</h2>

		<!-- Lista dos arquivos em PDF contendo leis, decretos, portarias e pareceres. Sugestão: filtro em angular por categoria (lei, decreto, portaria, parecer) e ano. -->

	<h2>Convenções Coletivas</h2>

		<!-- Lista das convenções coletivas: não encontrei no site -->

	<h2>Tire suas dúvidas</h2>

		<!-- Não seria melhor deixar junto do contato/fale conosco? -->
		<!-- Formulário contendo Nome, Email, Empresa/Sindicato e Mensagem -->




<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>