<!doctype html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
	
	<title>Fenavist</title>
	
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="../static/css/bootstrap_ms.css"> -->
	<link rel="stylesheet" href="../static/css/glyphicons2.css">
	<link rel="stylesheet" href="../static/css/ajustes-fenavist.css">

	<!-- <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../static/img/favicon.ico" type="image/x-icon"> -->

</head>

<body>

<h1>Números do Setor</h1>

	<h2>Centro de Estudos Fenavist</h2>

		<!-- Links para relatórios estatísticos mensais em PDF. Filtro em angular por ano. Links para relatórios de estudos econômicos. Filtro por ano -->

	<h2>Tabelas MPOG</h2>

		<h3>Tabelas do Ministério do Planejamento</h3>
 
			<p>O Ministério do Planejamento, Orçamento e Gestão (MPOG) é responsável pela publicação no Diário Oficial da União pela tabela que estabelece um limite mínimo e máximo para os preços dos serviços de segurança e asseio e conservação, praticado em contratos com órgãos públicos. A Federação informa aos Sindicatos das Empresas de Segurança Privada (Sindesp's) quanto à necessidade de protocolar em um prazo combinado com o Ministério as Convenções Coletivas dos estados, para que os reajustes possam ser o mais condizente com a realidade do setor em cada região e para que as datas-bases realizadas nos dois semestres sejam contempladas com mais agilidade.</p>
		 
			<p>Veja os valores permitidos de acordo com as tabelas publicadas este ano.</p>

			PORTARIA Nº 15, DE 26 DE MARÇO DE 2013
			SERVIÇOS DE VIGILÂNCIA - PREÇO MENSAL DO POSTO 
			Limites Mínimos e Máximo para Contratação dos Serviços/2014

			<!-- Várias tabelas -->


	<h2>Piso Salarial</h2>

		<!-- http://www.fenavist.com.br/downloads/PDF/Tabela_piso_salarial.pdf -->

	<h2>Encargos Sociais</h2>

		<p>A Federação Nacional das Empresas de Segurança e Transporte de Valores, Fenavist, realizou um estudo técnico com o objetivo de determinar os encargos sociais do segmento de segurança privada. O número de características diferenciadas de cada estado impediu a formulação de um percentual único para todo o país. Os percentuais foram calculados a partir de dados fornecidos pelo Ministério do Trabalho, considerando as diferenças nas condições de trabalho das unidades da Federação, como permanência na empresa, rotatividade, condição de absorção do mercado. O estudo completo está disponível na Fenavist. Confira os percentuais no quadro abaixo:</p>

		<!-- Inserir tabela -->

		

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>