<!doctype html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
	
	<title>Fenavist</title>
	
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="../static/css/bootstrap_ms.css"> -->
	<link rel="stylesheet" href="{{STATIC_URL}}css/glyphicons2.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/ajustes-fenavist.css">

	<!-- <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../static/img/favicon.ico" type="image/x-icon"> -->

</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
	
	<div class="pre-nav">
		<div class="container">Federação Nacional das Empresas de Segurança e Transporte de Valores</div>
	</div>

	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="home.html"><img src="../static/img/logotipo-fenavist.png" class="img-brand"></a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-left">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Institucional <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="sobre.html">Sobre</a></li>
						<li><a href="equipe.html">Equipe</a></li>
						<li><a href="parcerias.html">Parcerias</a></li>
						<li><a href="sindicatos.html">Sindicatos</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Jurídico <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Relatórios mensais</a></li>
						<li><a href="#">Legislação</a></li>
						<li><a href="#">Convenções coletivas</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Agenda<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="agenda_presidente.html">Presidente</a></li>
						<li><a href="agenda_fenavist.html">Fenavist</a></li>
						<li><a href="agenda_congresso.html">Congresso</a></li>
						<li><a href="agenda_eventos.html">Eventos</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Números do Setor <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Centro de estudos Fenavist</a></li>
						<li><a href="#">Tabelas MPOG</a></li>
						<li><a href="#">Piso salarial</a></li>
						<li><a href="#">Encargos sociais</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Imprensa <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Notícias</a></li>
						<li><a href="#">Canal da transparência</a></li>
						<li><a href="#">Revista Fenavist</a></li>
					</ul>
				</li>
				<li><a href="fale_conosco.html">Fale Conosco</a></li>
			</ul>
			
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>



<!-- <img src="../static/media/business-meeting-n1-singapore-singapore+1152_12943662041-tpfil02aw-28985.jpg" class="img-responsive">
<img src="../static/media/business-meeting.jpg" class="img-responsive"> -->


<div class="container">


	<div class="row espaco-top">
		<div class="col-sm-8">
			<div class="news-block">
				<a href="#link-do-destaque"></a>
				<img src="../static/media/bigstock-Business-Meeting-6443597.jpg" class="img-responsive">
				<div class="col-sm-12 news-block-primary">
					<small>24 de fevereiro de 2015</small>
					<h4>Metas para 2015</h4>
					<p>Em reunião com Caixa Econômica Federal, Fenavist discute metas para próximo ano</p>
				</div>
			</div>
			<div class="news-list">
				<strong>Mais notícias</strong>
				<ul class="espaco-top-sm">
					<li><a href="#link-noticia-1">Fenavist e Febrac realizam almoço de confraternização com os colaboradores</a></li>
					<li><a href="#link-noticia-2">Fenavist compõe grupo de trabalho (GT) do Ministério do Trabalho e Emprego</a></li>
					<li><a href="#link-noticia-3">Presidente acompanha a 103ª CCASP</a></li>
					<li><a href="#link-noticia-4">XXVI GEASSEG</a></li>
					<li><a href="#link-noticia-5">Mais uma notícia qualquer</a></li>
				</ul>
				<a href="#link-todas-as-noticias">Ver todas as notícias</a>
			</div>
		</div>

		<div class="col-sm-4 espaco-xs">
			
			<div class="panel panel-default">
				<div class="panel-body">
					<a href="#">Cuidados na contratação dos serviços</a>
				</div>
			</div>						
			
			<div class="panel panel-default espaco-top-sm">
				<div class="panel-body">
					<a href="#">Referências de preços dos serviços de segurança</a>
				</div>
			</div>

			<div class="panel panel-default espaco-top-sm">
				<div class="panel-body">
					<a href="#">Confira as convenções coletivas do setor</a>
				</div>
			</div>

			<img src="../static/media/destaque.png" class="img-responsive">
		</div>

	</div>


	<div class="row espaco-top-lg">

		<div class="col-sm-4 col-md-3">
			<div class="news-block">
				<a href="#link-esseg"></a>
				<img src="../static/media/capa.png" class="img-responsive">
				<div class="col-sm-12 news-block-default">
					<h5>IV ESSEG</h5>
					<p>Estudo realizado pela Fenavist aponta as principais preocupações do setor de segurança privada</p>
				</div>
			</div>
		</div>

		<div class="col-sm-4 col-md-3">
			<div class="news-block">
				<a href="#link-stats"></a>
				<img src="../static/media/generic.png" class="img-responsive">
				<div class="col-sm-12 news-block-default">
					<h5>Boletins estatísticos</h5>
					<p>Confira os últimos boletins estatísticos do setor</p>
				</div>
			</div>
		</div>

		<div class="col-sm-4 col-md-3">
			<div class="news-block">
				<a href="#link-legislacao"></a>
				<img src="../static/media/generic.png" class="img-responsive">
				<div class="col-sm-12 news-block-default">
					<h5>Legislação vigente</h5>
					<p>Conheça as leis que regulamentam o setor e pesquise a legislação tributária, trabalhista e sindical</p>
				</div>
			</div>
		</div>

		<div class="col-sm-4 col-md-3">
			<div class="news-block espaco-especial-sm">
				<a href="#link-transparencia"></a>
				<img src="../static/media/generic.png" class="img-responsive">
				<div class="col-sm-12 news-block-default">
					<h5>Canal da transparência</h5>
					<p>Encontre dados detalhados sobre a execução financeira da Fenavist</p>
				</div>
			</div>
		</div>
	</div>

</div>


<div class="rodape">

	<div class="container">

		<div class="col-sm-6">
			<p><strong>Fenavist</strong></p>
			<p>SBS Quadra 2 Bloco E Salas 1601/1602<br>Ed. Prime Business Convenience<br>Brasília, DF<br>CEP 70070-120</p>
			<p>(61) 3327 5440</p>
		</div>

		<div class="col-sm-3">
			<p><strong>Filiada à</strong></p>
		</div>

		<div class="col-sm-3">
			<p><strong>Parcerias</strong></p>
		</div>	

	</div>

</div>


<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>