<!doctype html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
	
	<title>Fenavist</title>
	
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="../static/css/bootstrap_ms.css"> -->
	<link rel="stylesheet" href="../static/css/glyphicons2.css">
	<link rel="stylesheet" href="../static/css/ajustes-fenavist.css">

	<!-- <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../static/img/favicon.ico" type="image/x-icon"> -->

</head>

<body>

<h1>Agenda</h1>

	<h2>Presidente</h2>

		<!-- Não achei no site atual -->

	<h2>Fenavist</h2>

		<!-- Não achei no site atual -->

		<!-- Sugestão: além do restante do conteúdo, adicionar o link para arquivo PDF da Agenda Parlamentar da Segurança Privada Nacional http://www.fenavist.com.br/downloads/AGENDA_PARLAMENTAR_DA_SEGURAN%C3%87A_PRIVADA%20NACIONAL2.pdf -->

		<h3>Jurídico</h3>

		<h3>Financeiro</h3>

		<h3>Superintendência</h3>

	<h2>Congresso</h2>

		<p><a href="http://www.fenavist.com.br/downloads/iso88591qagenda_congresso_01__proposic7d5_iso88591qes_prioritc1ria_24_a_28_03_14.pdf">Clique aqui</a> para ver a Agenda Congresso 01 - PROPOSIÇÕES PRIORITÁRIAS 24/03 a 28/03</p>

		<p><a href="http://www.fenavist.com.br/downloads/iso88591qagenda_congresso_02__proposic7_iso88591qd5es_prioritc1ria_07_a_11_04.pdf">Clique aqui</a> para ver a Agenda Congresso 02 - PROPOSIÇÕES PRIORITÁRIAS 07/04 a 11/04</p>

	<h2>Eventos</h2>

		<h3>Conference & Exhibition ASIS- American Society for Industrial Security</h3>
		<span class="label label-warning">EVENTO INTERNACIONAL</span><br>
		<span>De 15/02/15 à 17/02/15</span><br>
		<span>Local: Centro de Eventos Intercontinental Festival City Hotel,Dubai.</span><br>
		<span>Mais Informações: www.asisonline.org / middleeast@asisonline.org</span>


		<h3>ISC Brasil 2015</h3>
		<span class="label label-primary">EVENTO NACIONAL</span><br>
		<span>De 10/03/15 à 12/03/15</span><br>
		<span>Local: Expo Center Norte - São Paulo</span><br>
		<span>Horário: 13h às 20h</span><br>
		<span>Mais Informações: www.iscbrasil.com.br</span>


		<h3>Laad 2015 - Latin America Aerospace and Defence</h3>
		<span class="label label-primary">EVENTO NACIONAL</span><br>
		<span>De 14/04/15 à 17/04/15</span><br>
		<span>Local: RioCentro - RJ</span><br>
		<span>Horário: 10h às 17h</span><br>
		<span>Mais Informações: www.laadexpo.com.br</span>


		<h3>ISC West 2015</h3>
		<span class="label label-warning">EVENTO INTERNACIONAL</span><br>
		<span>De 15/04/15 à 17/04/15</span><br>
		<span>Local: Sands Expo & Convention Center - Las Vegas</span><br>
		<span>Mais Informações: www.iscwest.com/Show-Info</span>


		<h3>NFPA México Fire Expo</h3>
		<span class="label label-warning">EVENTO INTERNACIONAL</span><br>
		<span>De 28/04/15 à 30/04/15</span><br>
		<span>Local: Centro Banamex - Cidade do México</span><br>
		<span>Mais Informações: www.mexicofireexpo.com</span>


		<h3>EXPOSEC- Feira Internacional da Segurança Privada</h3>
		<span class="label label-primary">EVENTO NACIONAL</span><br>
		<span>De 12/05/15 à 14/05/15</span><br>
		<span>Local: Centro de Exposições Imigrantes - SP</span><br>
		<span>Horário: 13h às 21h</span><br>
		<span>Mais Informações: www.exposec.tmp.br</span>


		<h3>IFSEC- International- Commercial & Government Securit</h3>
		<span class="label label-warning">EVENTO INTERNACIONAL</span><br>
		<span>De 16/06/15 à 18/06/15</span><br>
		<span>Local: Excel London</span><br>
		<span>Mais Informações: www.ifsec.co.uk / peter.poole@ubm.com</span>


		<h3>LASEC - LATIN AMERICAN SECURITY EXPO</h3>
		<span class="label label-primary">EVENTO NACIONAL</span><br>
		<span>De 01/09/15 à 03/09/15</span><br>
		<span>Local: Centro de Convenções Frei Caneca - São Paulo</span><br>
		<span>Mais Informações: www.lasecbr.com.br</span>


		<h3>FEPASEP- Feira Pan-americana da Segurança Privada</h3>
		<span class="label label-default">?</span><br>
		<span>De 01/10/15 à tempo indeterminado</span><br>
		<span>Em breve mais informações</span>


		<h3>SICUR - Salón Internacional de Seguridad</h3>
		<span class="label label-warning">EVENTO INTERNACIONAL</span><br>
		<span>De 23/02/16 à 26/02/16</span><br>
		<span>Local: Madri, Espanha</span><br>
		<span>Mais Informações: www.ifema.es/sicur_01 / sicur@ifema.es</span>


<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>