<!doctype html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
	
	<title>Fenavist</title>
	
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="../static/css/bootstrap_ms.css"> -->
	<link rel="stylesheet" href="../static/css/glyphicons2.css">
	<link rel="stylesheet" href="../static/css/ajustes-fenavist.css">

	<!-- <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../static/img/favicon.ico" type="image/x-icon"> -->

</head>

<body>

<h1>Imprensa</h1>

    <h2>Notícias</h2>

    	<!-- Inserir chamada das notícias (chamadas de posts de blog): Titulo, data, prévia do parágrafo, foto de capa com auto-crop -->
    	<!-- Cada link de chamada abre uma página de post de blog -->

    <h2>Canal da Transparência</h2>

    	<!-- Não encontrei no site -->

    <h2>Revista Fenavist</h2>

    	<!-- Lista de links para as revistas. Colocar um filtro por ano, dependendo da periodicidade -->


<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>