{% extends 'base.html' %}
{% block container %}
<div class="container">
	
	<div class="col-sm-12 col-lg-10 col-lg-offset-1">

		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">Início</a></li>
				<li><a href="#">Agenda</a></li>
				<li class="active">Eventos</li>
			</ol>
		</div>

		<div class="row">
			<div class="col-sm-12">

				<h2>Agenda</h2>
				<p class="lead">Próximos Eventos</p>

				<div class="espaco-top">

					<div class="alert alert-warning"><strong>NOTA:</strong> Exibir automaticamente apenas os eventos que ainda não aconteceram. Usar a data de término do evento (d+1) para removê-lo da lista. Não é necessário paginar os resultados.</div>

                    {% for mes in meses %}
                        <div class="month-year">{{ mes.data_inicio|date:'F' }}, {{ mes.data_inicio|date:'Y' }}</div>
                        <ul class="list-unstyled evento">
                        {% for evento in eventos %}
                            {% if evento.data_inicio.month == mes.data_inicio.month and evento.data_inicio.year == mes.data_inicio.year %}

                                <li>
                                    <span class="tipo-evento label {% if evento.tipo_evento.tipo_evento == 'Internacional' %}label-warning{% else %}label-primary{% endif %}">EVENTO {{ evento.tipo_evento|upper }}</span>
                                    <h4>{{ evento.titulo }}</h4>
                                    <span class="periodo">De {{ evento.data_inicio|date:'d/m/Y' }} à {{ evento.data_termino|date:'d/m/Y' }}</span>
                                    <span class="local">{{ evento.local }}</span>
                                    {% if evento.site or evento.email %}
                                    <span class="mais-info">Mais informações:</span>
                                    {% if evento.site %}
                                    <span class="site-oficial"><span class="glyphicons glyphicons-link"></span> <a href="{{ evento.site }}" target="_blank">{{ evento.site }}</a></span>
                                    {% endif %}
                                    {% if evento.email %}
                                    <span class="email-contato"><span class="glyphicons glyphicons-envelope"></span> <a href="{{ evento.email }}" target="_blank">{{ evento.email }}</a></span>
                                    {% endif %}
                                    {% endif %}
                                </li>

                            {% endif %}
                        {% endfor %}
                            </ul>
                    {% endfor %}

				</div>		

			</div>
		</div>

	</div>

</div>
{% endblock %}