<!doctype html>
{% load l10n %}
{% load staticfiles %}
{% block head %}
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">

	<title>Fenavist</title>

	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="../static/css/bootstrap_ms.css"> -->
	<link rel="stylesheet" href="{{STATIC_URL}}css/glyphicons2.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/ajustes-fenavist.css">

	<!-- <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../static/img/favicon.ico" type="image/x-icon"> -->

</head>

<body>
{% endblock %}
{% block nav %}
<nav class="navbar navbar-default navbar-fixed-top">

	<div class="pre-nav">
		<div class="container">Federação Nacional das Empresas de Segurança e Transporte de Valores</div>
	</div>

	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{% url 'home' %}"><img src="{{STATIC_URL}}img/logotipo-fenavist.png" class="img-brand"></a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-left">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Institucional <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="{% url 'sobre' %}">Sobre</a></li>
						<li><a href="{% url 'equipe' %}">Equipe</a></li>
						<li><a href="{% url 'parcerias' %}">Parcerias</a></li>
						<li><a href="{% url 'sindicatos' %}">Sindicatos</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Jurídico <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Relatórios mensais</a></li>
						<li><a href="#">Legislação</a></li>
						<li><a href="#">Convenções coletivas</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Agenda<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="agenda_presidente.html">Presidente</a></li>
						<li><a href="agenda_fenavist.html">Fenavist</a></li>
						<li><a href="agenda_congresso.html">Congresso</a></li>
						<li><a href="{% url 'eventos' %}">Eventos</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Números do Setor <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Centro de estudos Fenavist</a></li>
						<li><a href="#">Tabelas MPOG</a></li>
						<li><a href="#">Piso salarial</a></li>
						<li><a href="#">Encargos sociais</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Imprensa <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Notícias</a></li>
						<li><a href="#">Canal da transparência</a></li>
						<li><a href="#">Revista Fenavist</a></li>
					</ul>
				</li>
				<li><a href="fale_conosco.html">Fale Conosco</a></li>
			</ul>

		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
{% endblock %}


<!-- <img src="../static/media/business-meeting-n1-singapore-singapore+1152_12943662041-tpfil02aw-28985.jpg" class="img-responsive">
<img src="../static/media/business-meeting.jpg" class="img-responsive"> -->

{% block container %}

{% endblock %}

{% block rodape %}
<div class="rodape">

	<div class="container">

		<div class="col-sm-6">
			<p><strong>Fenavist</strong></p>
			<p>SBS Quadra 2 Bloco E Salas 1601/1602<br>Ed. Prime Business Convenience<br>Brasília, DF<br>CEP 70070-120</p>
			<p>(61) 3327 5440</p>
		</div>

		<div class="col-sm-3">
			<p><strong>Filiada à</strong></p>
		</div>

		<div class="col-sm-3">
			<p><strong>Parcerias</strong></p>
		</div>

	</div>

</div>
{% endblock %}
{% block scripts %}
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}
{% block tail %}
</body>
</html>
{% endblock %}