{% extends 'base.html' %}
{% block container %}
<div class="container">

	<div class="col-sm-12 col-lg-10 col-lg-offset-1">

		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">Início</a></li>
				<li><a href="#">Institucional</a></li>
				<li class="active">Equipe</li>
			</ol>
		</div>


		<div class="row">
			<div class="col-sm-12">
				
				<h2>Conheça a nossa equipe</h2>

				<div class="col-sm-12 espaco-top">
					<div class="panel panel-primary">
						<div class="panel-heading"><span class="h3">Presidente</span></div>
						<div class="panel-body">

							<div class="alert alert-danger">NOTA: Resumir o conteúdo sobre o presidente em um ou dois parágrafos, no máximo: <strong>excesso de informação</strong>. Caso o presidente possua uma conta no Linkedin, um link para o seu currículo seria uma forma mais eficiente de registrar seu currículo completo e ainda permitiria que outros usuários dessa rede social se conectassem a ele.</div>

							<h4>Jeferson Furlan Nazário</h4>

							<div class="col-sm-12 col-md-4 col-lg-4">
								<img src="http://www.fenavist.com.br/images/DSC_13501_novoo.jpg" class="img-responsive">
							</div>

							<div class="col-sm-12 col-md-8 col-lg-8">

							<p>No ano 1995, formou-se em Educação Física pela Pontifícia Universidade Católica - PUC do Estado do Paraná. Em 2002, concluiu o curso de Direito pela Universidade do Tuiuti no Paraná.</p>

							<p>Possui 30 anos de experiência em empresas prestadoras de Serviços de Vigilância e limpeza, trabalhando sempre nas áreas administrativa, financeira e comercial.</p>

							<p>Exerceu, durante 10 anos, o cargo de Diretor Executivo da empresa G5 - Grupo Cinco Sistemas Integrados de Segurança Soc Ltda., que opera no ramo de segurança eletrônica.</p>

							<p>Desde 1998 atua como Sócio Administrativo na empresa EMBRASIL – Empresa Brasileira de Segurança Ltda., que atua no segmento de vigilância orgânica, na cidade de Curitiba/PR.</p>

							<p>Elaborou diversos trabalhos na área de custos e obteve a participação em diversas Conferências, Palestras e Congressos nas áreas de Vigilância Física e Monitorada, como de Limpeza e Conservação.</p>

							<p>Recebeu diversos prêmios e homenagens. Dentre eles destacamos:</p>

							<ul>
								<li>Prêmio Personalidades Empreendedoras do Estado do Paraná em 2008, concedido pela Assembleia Legislativa do Paraná.</li>
								<li>Troféu “Amigo da Classe” em 2009, concedido pelo SINDESP/GO.</li>
								<li>Prêmio Benemérito em Segurança Privada Estadual em 2007, concedido pela FENAVIST.</li>
								<li>Título de Cidadão Honorário de Curitiba, concedido pelo vereador da Câmara Municipal Manassés de Oliveira.</li>
							</ul>

							<p>No período de 2004 a 2006, assumiu o cargo de Vice-Presidente do SINDESP-PR. Devido ao seu reconhecimento, participação e competência, em 2006 foi eleito Presidente do Sindicato das Empresas de Segurança do Estado do Paraná – SINDESP/PR, onde desenvolveu um excelente trabalho em prol do segmento.</p>

							<p>Em 2014, foi reeleito como presidente do SINDESP-PR com gestão até 2018. Além dos cargos exercidos no SINDESP-PR, assumiu diversos cargos na FENAVIST:</p>

							<ul>
								<li>
									22/06/2004 a 22/06/2007
									<p>Vice-Presidente para Assuntos da Região Sul Adjunto</p>
								</li>
								<li>
									23/06/2007 a 22/06/2010
									<p>Vice-Presidente para Assuntos de Segurança Eletrônica</p>
								</li>
								<li>
									23/06/2010 a 09/06/2011
									<p>Vice-Presidente para Assuntos da Região Sul<br>
									Delegado Representante Junto a CNC Adjunto</p>
								</li>
								<li>
									09/06/2011 a 22/06/2014
									<p>Vice-Presidente Nacional<br>
									Delegado Representante junto à CNC</p>
								</li>
								<li>
									22/06/2014 a 22/06/2018
									<p>Presidente Nacional da Federação Nacional de Empresas de Segurança e Transporte de Valores – FENAVIST, com gestão até 2018.</p>
								</li>
								<li>
									Tem como principal objetivo a união, o fortalecimento e principalmente a regularização das empresas de segurança no Estado do Paraná e no Brasil.
								</li>
							</ul>

							</div>

						</div>
					</div>
				</div>

				

				<div class="col-sm-12">
					<div class="panel panel-primary">
						<div class="panel-heading"><span class="h3">Vice-Presidente Nacional</span></div>
						<div class="panel-body">
							<h4>João Eliezer Palhuca</h4>
							Leonardo Vieira<br>(Adjunto)
						</div>
					</div>
				</div>

								


				<!-- <h2>Diretoria</h2>

				<h3>Diretoria Executiva:</h3>
			 
				<p>Eleição: 23 de abril de 2014<br>
				Mandato: 23 de junho de 2014 a 22 de junho de 2018</p> -->

				<div class="row">
					<div class="col-sm-12">
						<div class="col-sm-12">
							<h4 class="titulo-divisao">Vice-presidentes para assuntos específicos</h4>
						</div>						
					</div>
				</div>

										

				<!-- .col-sm-6.col-md-4*43>.panel.panel-default>(.panel-heading.ajuste-heading)(.panel-body.ajuste-body>(h4)(br)({(Adjunto)})) -->

				<div class="row">
					<div class="col-sm-12">

						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Assuntos de Secretaria</div>
								<div class="panel-body ajuste-body">
									<h4>Odair de Jesus Conceição</h4>
									Frederico Muniz Junqueira de Almeida<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Assuntos Financeiros</div>
								<div class="panel-body ajuste-body">
									<h4>Urubatan Estevam Romero</h4>
									Elson Batista Ramos<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Assuntos Sociais</div>
								<div class="panel-body ajuste-body">
									<h4>Victor Saeta de Aguiar</h4>
									Jefferson Marques de Quadros<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Jurídico e Institucional</div>
								<div class="panel-body ajuste-body">
									<h4>Jacymar Delfinno Dalcamini</h4>
									Ruben Schechter<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Planejamento</div>
								<div class="panel-body ajuste-body">
									<h4>Leonardo Ottoni Vieira</h4>
									Danilo Medeiros Braulino<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Mercado</div>
								<div class="panel-body ajuste-body">
									<h4>José Jacobson Neto</h4>
									Alessandro Abrahão Netto de Jesus<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Transporte de Valores</div>
								<div class="panel-body ajuste-body">
									<h4>Agostinho Rocha Gomes</h4>
									Mario Giannini Baptista de Oliveira<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Cursos de Formação</div>
								<div class="panel-body ajuste-body">
									<h4>Francisco Lopes</h4>
									Ricardo Tadeu Corrêa<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Segurança Eletrônica</div>
								<div class="panel-body ajuste-body">
									<h4>Dilmo Wanderley Berger</h4>
									Eliete Carius Lins e Silva<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Poder Judiciário</div>
								<div class="panel-body ajuste-body">
									<h4>Augusto Farias</h4>
									Leonardo Cavalcanti Prudente<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Ética Profissional</div>
								<div class="panel-body ajuste-body">
									<h4>Luiz Alfonso Fregulia</h4>
									Patrocínio Valverde de Moraes Neto<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Relações Internacionais e Ações Políticas</div>
								<div class="panel-body ajuste-body">
									<h4>Aprigio Rello Júnior</h4>
									Marcos Félix Loureiro<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Normas e Regulamentos</div>
								<div class="panel-body ajuste-body">
									<h4>José Rossini de Araújo Braulino</h4>
									Ari Luis Favero Dal Bem<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Representação Classista Institucional</div>
								<div class="panel-body ajuste-body">
									<h4>Jerfferson Simões</h4>
									José Elcino Rodrigues Bueno<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Qualidade e Modernização</div>
								<div class="panel-body ajuste-body">
									<h4>Marco Aurélio Pinheiro Tarquínio</h4>
									Silvio Renato Medeiros Pires<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Segurança Bancária</div>
								<div class="panel-body ajuste-body">
									<h4>Alfredo Vieira Ibiapina Neto</h4>
									Ricardo Kuerten Dutra<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Relacionamento com o Poder Executivo</div>
								<div class="panel-body ajuste-body">
									<h4>Ivaldo Vicente Naves</h4>
									João Batista Diniz Junior<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Relacionamento com Instituições Policiais</div>
								<div class="panel-body ajuste-body">
									<h4>Irenaldo Pereira Lima</h4>
									José Nivaldo Campos Vieira<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Marketing e Eventos</div>
								<div class="panel-body ajuste-body">
									<h4>José Adir Loiola</h4>
									Flávio Sandrini Baptista<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Sustentabilidade e Meio Ambiente</div>
								<div class="panel-body ajuste-body">
									<h4>Domingos Alcântara Gomes</h4>
									Mauro Freire de Carvalho Oliveira<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Grandes Eventos</div>
								<div class="panel-body ajuste-body">
									<h4>Wanderley Aranha</h4>
									José Luis Marques Rodrigues<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Igualdade Racial</div>
								<div class="panel-body ajuste-body">
									<h4>Joseph Ribamar Madeira</h4>
									José Caetano Rodrigues Horta<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Gerenciamento de Riscos</div>
								<div class="panel-body ajuste-body">
									<h4>Salmen Kamal Ghazale</h4>
									Avelino Lombardi<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Segurança Rural</div>
								<div class="panel-body ajuste-body">
									<h4>José Pacheco Ferreira</h4>
									José Helder de Souza Andrade<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Segurança em Transportes</div>
								<div class="panel-body ajuste-body">
									<h4>Francisco de Assis Veras Fortes</h4>
									Raimundo Nonato Caldeira da Silva<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Segurança da Informação</div>
								<div class="panel-body ajuste-body">
									<h4>Frederico Carlos Crim Camara</h4>
									Marcus Vinícius Castro do Nascimento<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Relacionamento Intersindical</div>
								<div class="panel-body ajuste-body">
									<h4>Ricardo Roland Rocha</h4>
									Aldair Neves Pinto Júnior<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Escolta Armada</div>
								<div class="panel-body ajuste-body">
									<h4>Autair Iuga</h4>
									Antonio Laete Cabral Filho<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Segurança Pessoal Privada</div>
								<div class="panel-body ajuste-body">
									<h4>Ivan Hermano Filho</h4>
									João José Andrade de Almeida<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Segurança Patrimonial</div>
								<div class="panel-body ajuste-body">
									<h4>Francisco de Assis Moura</h4>
									Sidney Tinoco<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Novas Tecnologias</div>
								<div class="panel-body ajuste-body">
									<h4>Renato Fortuna Campos</h4>
									André Luiz Costa Machado<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Relacionamento com o Poder Legislativo</div>
								<div class="panel-body ajuste-body">
									<h4>José Evaldo Vieira</h4>
									João Bosco Suzano Giantaglia<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Cultura, Esporte e Lazer Sustentável</div>
								<div class="panel-body ajuste-body">
									<h4>Waldemar Pellegrino Júnior</h4>
									Paulo Cesar Baltazar Viana<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Parlamentares</div>
								<div class="panel-body ajuste-body">
									<h4>Paulo Sérgio Macêdo</h4>
									Marco Antônio Alegre da Costa<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Coordenação de Base de Apoio Parlamentar</div>
								<div class="panel-body ajuste-body">
									<h4>Carlos Gualter Gonçalves de Lucena</h4>
									Amauri de Oliveira Soares<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Saúde e Medicina do Trabalho</div>
								<div class="panel-body ajuste-body">
									<h4>Adriano Macedo da Fonseca</h4>
									William Benfica Silva<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Qualificação Profissional</div>
								<div class="panel-body ajuste-body">
									<h4>Edmilson Pereira de Assis</h4>
									Antônio Vasco Pereira Filho<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Políticas Municipais</div>
								<div class="panel-body ajuste-body">
									<h4>Leslie Castelo de Vasconcelos</h4>
									Jonivaldo de Oliveira Moreira<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Região Norte</div>
								<div class="panel-body ajuste-body">
									<h4>Renê Rodrigues de Mendonça Filho</h4>
									Francisco de Assis Bezerra da Fonseca<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Região Nordeste</div>
								<div class="panel-body ajuste-body">
									<h4>Lauro Santana Silva</h4>
									Cesar Marques de Carvalho<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Região Centro-Oeste</div>
								<div class="panel-body ajuste-body">
									<h4>Angelo Roberto Jacomini</h4>
									Nilva Aparecida Lopes Jacomini<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Região Sudeste</div>
								<div class="panel-body ajuste-body">
									<h4>Carlos Eduardo Escobal</h4>
									Alberto Minazzoli<br>(Adjunto)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">Região Sul</div>
								<div class="panel-body ajuste-body">
									<h4>Paulo Renato Pacheco</h4>
									Jerri Bertoni Macedo<br>(Adjunto)
								</div>
							</div>
						</div>

					</div>
				</div>


				<div class="alert alert-danger">NOTA: Eu removeria do site o conteúdo daqui para baixo. Essa página está sobrecarregada de informação e a informação a seguir não parece ser essencial para 99.9% dos visitantes. Como o site possui um "fale conosco", deixaria a cargo dos interessados solicitar essa informação por email ou telefone. Se houver grande procura das pessoas por esse conteúdo, daí podemos inserir uma página separada apenas para isso. Que tal?</div>


				<h3 class="titulo-divisao">Conselheiros Fiscais</h3>

				<div class="row">
					<div class="col-sm-12">

						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">1º Conselheiro Fiscal</div>
								<div class="panel-body ajuste-body">
									<h4>Lélio Vieira Carneiro</h4>
									Ivan Zanardo<br>(Suplente)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">2º Conselheiro Fiscal</div>
								<div class="panel-body ajuste-body">
									<h4>Paulo Roberto da Cruz Azevedo</h4>
									Manoel dos Anjos Almeida<br>(Suplente)
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">3º Conselheiro Fiscal</div>
								<div class="panel-body ajuste-body">
									<h4>Sandro Maurício Smaniotto</h4>
									Vivaldi Pereira Rodrigues<br>(Suplente)
								</div>
							</div>
						</div>

					</div>
				</div>


				<h3 class="titulo-divisao">Delegados Representantes</h3>

				<div class="row">
					<div class="col-sm-12">

						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">1º Delegado Representante junto a CNC</div>
								<div class="panel-body ajuste-body">
									<h4>Odair de Jesus Conceição</h4>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">2º Delegado Representante junto a CNC</div>
								<div class="panel-body ajuste-body">
									<h4>Lélio Vieira Carneiro</h4>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">3º Delegado Representante junto a CNC</div>
								<div class="panel-body ajuste-body">
									<h4>José Adir Loiola</h4>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading ajuste-heading">4º Delegado Representante junto a CNC</div>
								<div class="panel-body ajuste-body">
									<h4>Urubatan Estevam Romero</h4>
								</div>
							</div>
						</div>

						<ul>					

							
							<li>
								Odair de Jesus Conceição
								<p>1º Delegado Representante junto a CNC</p>
							</li>
							<li>
								Lélio Vieira Carneiro
								<p>2º Delegado Representante junto a CNC</p>
							</li>
							<li>
								José Adir Loiola
								<p>3º Delegado Representante junto a CNC</p>
							</li>
							<li>
								Urubatan Estevam Romero
								<p>4º Delegado Representante junto a CNC</p>
							</li>
							<li>
								Lélio Vieira Carneiro
								<p>1º Conselheiro Nacional do SESC</p>
							</li>
							<li>
								José Adir Loiola
								<p>2º Conselheiro Nacional do SESC</p>
							</li>
							<li>
								Leonardo Ottoni Vieira
								<p>1º Conselheiro Nacional do SENAC</p>
							</li>
							<li>
								Jacymar Delfinno Dalcamini
								<p>2º Conselheiro Nacional do SENAC</p>
							</li>
						</ul>

				
					</div>
				</div>
				
				

				<h2>Diretoria Executiva (Mandatos Anteriores)</h2>

				<div class="row">
					<div class="col-sm-12">

						<ul>
							<li>
								Mandato: 23 de junho de 2010 a 22 de junho de 2014
								<p>Presidente: Odair Conceição</p>
							</li>
							<li>
								Mandato: 01 de maio de 2000 a 22 de junho de 2010
								<p>Presidente: Jerfferson Simões</p>
							</li>
							<li>
								Mandato: 01 de janeiro de 1998 a 30 de abril de 2000
								<p>Presidente: Cláudio Neves</p>
							</li>
							<li>
								Mandato: 20 de agosto de 1992 a 31 de dezembro de 1997
								<p>Presidente: Lélio Vieira Carneiro</p>
							</li>
							<li>
								Mandato: 01 de março de 1989 a 20 de agosto de 1992
								<p>Presidente: Eunício Lopes de Oliveira</p>
							</li>
						</ul>

					</div>
				</div>



				<h2>Comissões</h2>

				<div class="row">
					<div class="col-sm-12">

					<h3>Comissão Bancária</h3>
					 
						<ul>
							<li>Alfredo Ibiapina (coordenador)</li>
							<li>André Luiz Costa Machado</li>
							<li>Irenaldo Pereira Lima</li>
							<li>Leonardo Ottoni</li>
							<li>Luis Alfonso Freguli</li>
						</ul>

					<h3>Comissão Prêmio Mérito de Serviços</h3>
					 
						<ul>
							<li>Victor Saeta de Aguiar (coordenador)</li>
							<li>Lauro Santana Silva</li>
							<li>Lélio Vieira Carneiro</li>
							<li>Leonardo Ottoni Vieira</li>
							<li>Marco Aurélio Pinheiro Tarqínio</li>
							<li>Sandro Mauricio Smaniotto</li>
						</ul>

					<h3>Comissão para Grandes Eventos</h3>
					 
						<ul>
							<li>Jeferson Furlan Nazário (coordenador)</li>
							<li>Edson da Silva Torres</li>
							<li>Alfredo Vieira Ibiapina</li>
							<li>Leonardo Ottoni Vieira</li>
							<li>Carlos EscobalWanderley Aranha</li>
							<li>Cel. Francisco Lopes</li>
						</ul>

					<h3>Comissão Parlamentar</h3>
					 
						<ul>
							<li>Carlos Escobal (coordenador)</li>
							<li>Marcos Paiva</li>
							<li>Jerfferson Simões</li>
							<li>Lélio Vieira Carneiro</li>
							<li>Jeferson Furlan NazárioEdson da Silva Torres</li>
							<li>José Rossini Araújo Braulino</li>
							<li>Lauro Santana Silva</li>
							<li>Wanderley Aranha</li>
							<li>Paulo Sérgio Macedo</li>
							<li>Cléria Santos</li>
							<li>Renalegis</li>
						</ul>

					<h3>Comissão de Finanças</h3>
					 
						<ul>
							<li>Leonardo Ottoni Vieira (coordenador)</li>
							<li>Odair Conceição</li>
							<li>Lélio Vieira Carneiro</li>
							<li>Carlos Escobal</li>
							<li>José Rossini AraújoBraulino</li>
							<li>Lauro Santana Silva</li>
						</ul>

					</div>
				</div>

			</div>
		</div>

	</div>

</div>
{% endblock %}