<!doctype html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
	
	<title>Fenavist</title>
	
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="../static/css/bootstrap_ms.css"> -->
	<link rel="stylesheet" href="../static/css/glyphicons2.css">
	<link rel="stylesheet" href="../static/css/ajustes-fenavist.css">

	<!-- <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../static/img/favicon.ico" type="image/x-icon"> -->

</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">

	<div class="pre-nav">
		<div class="container">Federação Nacional das Empresas de Segurança e Transporte de Valores</div>
	</div>
	
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="home.html"><img src="../static/img/logotipo-fenavist.png" class="img-brand"></a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-left">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Institucional <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="sobre.html">Sobre</a></li>
						<li><a href="equipe.html">Equipe</a></li>
						<li><a href="parcerias.html">Parcerias</a></li>
						<li><a href="sindicatos.html">Sindicatos</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Jurídico <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Relatórios mensais</a></li>
						<li><a href="#">Legislação</a></li>
						<li><a href="#">Convenções coletivas</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Agenda<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="agenda_presidente.html">Presidente</a></li>
						<li><a href="agenda_fenavist.html">Fenavist</a></li>
						<li><a href="agenda_congresso.html">Congresso</a></li>
						<li><a href="agenda_eventos.html">Eventos</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Números do Setor <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Centro de estudos Fenavist</a></li>
						<li><a href="#">Tabelas MPOG</a></li>
						<li><a href="#">Piso salarial</a></li>
						<li><a href="#">Encargos sociais</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Imprensa <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Notícias</a></li>
						<li><a href="#">Canal da transparência</a></li>
						<li><a href="#">Revista Fenavist</a></li>
					</ul>
				</li>
				<li><a href="fale_conosco.html">Fale Conosco</a></li>
			</ul>
			
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>


<div class="container">
	
	<div class="col-sm-12 col-lg-10 col-lg-offset-1">

		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">Início</a></li>
				<li class="active">Fale Conosco</li>
			</ol>
		</div>

		<div class="row">
			<div class="col-sm-12">

				<h2>Fale Conosco</h2>
				<p class="lead">Dúvidas, reclamações e contato geral com a nossa equipe</p>

				<div class="col-sm-6 espaco-top">
					<form enctype="multipart/form-data" action="" method="post" class="form-horizontal" role="form" id="contato_form">
						<div class="input-group">
							<span class="input-group-addon">
								<span class="glyphicons glyphicons-parents"></span>
							</span>
							<input class="form-control" id="id_nome" maxlength="100" name="nome" placeholder="Nome" type="text">
						</div>

						<div class="input-group espaco-top-sm">
							<span class="input-group-addon">
								<span class="glyphicons glyphicons-envelope"></span>
							</span>
							<input class="form-control " id="id_email" maxlength="100" name="email" placeholder="E-mail" type="text">	
						</div>

						<div class="input-group espaco-top-sm">
							<span class="input-group-addon">
								<span class="glyphicons glyphicons-iphone"></span>
							</span>
							<input class="form-control" id="id_telefone" maxlength="100" name="telefone" placeholder="Telefone" type="text">							
						</div>

						
						<select class="form-control espaco-top-sm" id="id_assunto" name="assunto">
							<option value="" selected disabled>Escolha um assunto</option>
							<option value="" disabled>-------</option>
							<option value="Dúvida">Dúvida</option>
							<option value="Reclamação">Reclamação</option>
							<option value="Contato geral">Contato geral</option>
						</select>
						<textarea class="form-control espaco-top-sm" rows="8" placeholder="Mensagem"></textarea>
						<input type="submit" value="Enviar" class="btn btn-primary espaco-top-sm" />
					</form>
				</div>

				<div class="col-sm-6 espaco-top">
					<iframe width="100%" height="360" frameborder="0" style="border:0; margin-bottom: 10px;" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBqkZq7jcsHm_oEgz4HBxG-JLMdI1PjqTs&amp;q=Odds%26Actions,+Brasilia+-+Federal+District,+Brazil"></iframe>

					<div id="hcard-Fenavist" class="vcard">
						<div class="org">Fenavist</div>
						<div class="tel">+55 (61) 3327 5440</div>
						<div class="adr">
							<div class="street-address">SBS Quadra 2 Bloco E Salas 1601/1602</div>
							<div class="extended-address">Ed. Prime Business Convenience</div>
							<span class="locality">Brasília</span>, <span class="region">DF</span>
							<div class="hidden"> - <span class="country-name">Brasil</span></div>
							<br> CEP <span class="postal-code">70070-120</span>

						</div>
					</div>
				</div>


				
				

			</div>
		</div>

	</div>

</div>



<div class="rodape">

	<div class="container">

		<div class="col-sm-6">
			<p><strong>Fenavist</strong></p>
			<p>SBS Quadra 2 Bloco E Salas 1601/1602<br>Ed. Prime Business Convenience<br>Brasília, DF<br>CEP 70070-120</p>
			<p>(61) 3327 5440</p>
		</div>

		<div class="col-sm-3">
			<p><strong>Filiada à</strong></p>
		</div>

		<div class="col-sm-3">
			<p><strong>Parcerias</strong></p>
		</div>	

	</div>

</div>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>