{% extends 'base.html' %}
{% block container %}
<div class="container">
	<div class="row espaco-top">
		<div class="col-sm-8">
			<div class="news-block">
				<a href="#link-do-destaque"></a>
				<img src="../static/media/bigstock-Business-Meeting-6443597.jpg" class="img-responsive">
				<div class="col-sm-12 news-block-primary">
					<small>24 de fevereiro de 2015</small>
					<h4>Metas para 2015</h4>
					<p>Em reunião com Caixa Econômica Federal, Fenavist discute metas para próximo ano</p>
				</div>
			</div>
			<div class="news-list">
				<strong>Mais notícias</strong>
				<ul class="espaco-top-sm">
					<li><a href="#link-noticia-1">Fenavist e Febrac realizam almoço de confraternização com os colaboradores</a></li>
					<li><a href="#link-noticia-2">Fenavist compõe grupo de trabalho (GT) do Ministério do Trabalho e Emprego</a></li>
					<li><a href="#link-noticia-3">Presidente acompanha a 103ª CCASP</a></li>
					<li><a href="#link-noticia-4">XXVI GEASSEG</a></li>
					<li><a href="#link-noticia-5">Mais uma notícia qualquer</a></li>
				</ul>
				<a href="#link-todas-as-noticias">Ver todas as notícias</a>
			</div>
		</div>

		<div class="col-sm-4 espaco-xs">
			
			<div class="panel panel-default">
				<div class="panel-body">
					<a href="#">Cuidados na contratação dos serviços</a>
				</div>
			</div>						
			
			<div class="panel panel-default espaco-top-sm">
				<div class="panel-body">
					<a href="#">Referências de preços dos serviços de segurança</a>
				</div>
			</div>

			<div class="panel panel-default espaco-top-sm">
				<div class="panel-body">
					<a href="#">Confira as convenções coletivas do setor</a>
				</div>
			</div>

			<img src="../static/media/destaque.png" class="img-responsive">
		</div>

	</div>


	<div class="row espaco-top-lg">

		<div class="col-sm-4 col-md-3">
			<div class="news-block">
				<a href="#link-esseg"></a>
				<img src="../static/media/capa.png" class="img-responsive">
				<div class="col-sm-12 news-block-default">
					<h5>IV ESSEG</h5>
					<p>Estudo realizado pela Fenavist aponta as principais preocupações do setor de segurança privada</p>
				</div>
			</div>
		</div>

		<div class="col-sm-4 col-md-3">
			<div class="news-block">
				<a href="#link-stats"></a>
				<img src="../static/media/generic.png" class="img-responsive">
				<div class="col-sm-12 news-block-default">
					<h5>Boletins estatísticos</h5>
					<p>Confira os últimos boletins estatísticos do setor</p>
				</div>
			</div>
		</div>

		<div class="col-sm-4 col-md-3">
			<div class="news-block">
				<a href="#link-legislacao"></a>
				<img src="../static/media/generic.png" class="img-responsive">
				<div class="col-sm-12 news-block-default">
					<h5>Legislação vigente</h5>
					<p>Conheça as leis que regulamentam o setor e pesquise a legislação tributária, trabalhista e sindical</p>
				</div>
			</div>
		</div>

		<div class="col-sm-4 col-md-3">
			<div class="news-block espaco-especial-sm">
				<a href="#link-transparencia"></a>
				<img src="../static/media/generic.png" class="img-responsive">
				<div class="col-sm-12 news-block-default">
					<h5>Canal da transparência</h5>
					<p>Encontre dados detalhados sobre a execução financeira da Fenavist</p>
				</div>
			</div>
		</div>
	</div>

</div>
{% endblock %}