{% extends 'base.html' %}
{% block container %}
<div class="container">
	
	<div class="col-sm-12 col-lg-10 col-lg-offset-1">

		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">Início</a></li>
				<li><a href="#">Institucional</a></li>
				<li class="active">Parcerias</li>
			</ol>
		</div>

		<div class="row">
			<div class="col-sm-12">

				<h2>Parcerias e Convênios</h2>

				<div class="row espaco-top">
					<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-body">
							<img src="http://www.fenavist.org.br/images/interna/mezzo.gif">

							<p class="espaco-top">A <strong>MEZZO PLANEJAMENTO</strong> fundada em 1993, realiza serviços de assessoria e consultoria de planejamento econômico-financeiro para empresas, governos e entidades associativas que congregam setores e cadeias-produtivas.</p>
		 
							<p>A <strong>MEZZO</strong> trabalha em parceria com a <strong>FENAVIST</strong>, realizando um grande trabalho de consultoria para ajudar a profissionalizar e fortalecer o setor. Essa atividade contempla diversas iniciativas, como: a estruturação das informações estatísticas, a criação de um canal de comunicação entre as entidades e empresas e a criação de mecanismos de estabilização das relações econômicas do setor.</p>	
						</div>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-body">
							<img src="http://www.fenavist.org.br/images/interna/datasafe.gif">

							<p class="espaco-top">A empresa <strong>DATASAFE MERCANTIL E SERVIÇOS LTDA</strong>. foi constituída em 9 de dezembro de 1987, com o objetivo de cumprir as disposições legais que regem a segurança privada, acompanhando suas alterações e propiciando a normalização, além da elaboração dos documentos, relatórios e controles necessários para as empresas de segurança jurídica.</p>

							<p>A <strong>DATASAFE</strong> é amparada na maior base de dados e imagens sobre a atividade de segurança privada no país, podendo uma pequena parte disso ser conferida no endereço eletrônico da empresa. Possui, ainda, agenda de compromissos e prazos desenvolvida internamente, para controle de prazos procedimentais; roteiros para todos os processos e suas etapas, de forma que o cliente possa aplicar um “check-list” para cada situação.</p>

							<p>Com notoriedade no que se refere às normas e regulamentos do segmento de segurança privada, a <strong>DATASAFE</strong> trabalha ao lado da <strong>FENAVIST</strong> na busca pelo entendimento das leis que regem o setor, buscando respostas às dúvidas que são levadas à Federação por parte das empresas associadas.</p>

							<p>Para conhecer melhor os serviços prestados pela <strong>DATASAFE</strong> visite o site <a href="http://www.datasafe.com.br">www.datasafe.com.br</a>.</p>
						</div>
					</div>
				</div>
				</div>



				
				

			</div>
		</div>

	</div>

</div>
{% endblock %}