{% extends 'base.html' %}
{% block container %}
<div class="container">
	
	<div class="col-sm-12 col-lg-10 col-lg-offset-1">

		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">Início</a></li>
				<li><a href="#">Institucional</a></li>
				<li class="active">Sindicatos</li>
			</ol>
		</div>

		<div class="row">
			<div class="col-sm-12">

				<h2>Sindicatos</h2>

				<ul class="list-unstyled list-sindicatos espaco-top">
					<li>
						<strong>SINDESP/AC</strong><br>
						Endereço: Rua Estrada Da Usina Nº 1115 - Morada Do Sul - Morada Do Sul - Rio Branco - AC - 69900-220<br>
						Telefone: (68) 3223-9672<br>
						E-mail: <a href="mailto: sindespac@hotmail.com">sindespac@hotmail.com</a><br>
						Presidente: Leslie Castelo de Vasconcelos
					</li> 
					<li>
						<strong>SINDESP/AL</strong><br>
						Endereço: R Dr.Luis Pontes De Miranda Nº 36 Ed. Delmiro,Sl 305 - Centro - Pça. Palmares Alagoas - 57120-670<br>
						Telefone: (82) 3326-1325<br>
						E-mail: <a href="mailto:sindesp-albr@ig.com.br">sindesp-albr@ig.com.br</a><br>
						Presidente: Marcus Vinícius Castro do Nascimento 
					</li> 
					<li>
						<strong>SINDESP/AP</strong><br>
						Endereço: Rua Jovino Dinoá Nº 1770 - Centro - Macapá - AP - 68900-000<br>
						Telefone: (96) 3242-5484<br>
						E-mail: <a href="mailto:sindespap@ig.com.br">sindespap@ig.com.br</a><br>
					</li> 
					<li>
						<strong>SINDESP/AM</strong><br>
						Endereço: Rua Estrada Da Usina Nº 1115 - Morada Do Sul - Morada Do Sul - Rio Branco - AC - 69900-220<br>
						Telefone: (92) 363-1213<br>
						E-mail: <a href="mailto:sindespam@bol.com.br">sindespam@bol.com.br</a><br>
						Presidente: José Pacheco Ferreira
					</li> 
					<li>
						<strong>SINDESP/BA</strong><br>
						Endereço: Av.Tancredo Neves, nº 274  Bloco “B” Centro Emp.Iguatemi Sl 421/422 Pituba - CEP 41820-020 - Salvador - BA<br>
						Telefone: (71) 3450-0411 / 0563<br>
						E-mail: <a href="mailto:sindespba@terra.com.br">sindespba@terra.com.br</a><br>
						Presidente: Lauro Santana Silva
					</li> 
					<li>
						<strong>SINDESP/CE</strong><br>
						Endereço: Rua Pereira Filgueiras, 20220 Sl 303/304 - Aldeota - Fortaleza – CE - 60160-150<br>
						Telefone: (85) 3244-5599 e 3264-3084<br>
						E-mail: <a href="mailto:sindesp-ce@fortalnet.com.br">sindesp-ce@fortalnet.com.br</a><br>
						Presidente: Urubatan Estevan Romero
					</li> 
					<li>
						<strong>SINDESP/DF</strong><br>
						Endereço: Saan Quadra 03 Lote 1300 - Brasília - DF - 70.632-300<br>
						Telefone: (61) 3233-9922 / 8338<br>
						E-mail: <a href="mailto:sindesp@sinesp-df.com.br">sindesp@sinesp-df.com.br</a><br>
						Presidente: Patrocínio Valverde de Morais Neto
					</li> 
					<li>
						<strong>SINDESP/ES</strong><br>
						Endereço: Av. Cesar Helal, 323 Bento Ferreira - Bento Ferreira - Vitória - ES -29050-657<br>
						Telefone: (27) 3325-5025<br>
						E-mail: <a href="mailto:sindesp.vix@terra.com.br">sindesp.vix@terra.com.br</a><br>
						Presidente: Jacymar Delfino Dalcamini
					</li> 
					<li>
						<strong>SINDESP/GO</strong><br>
						Endereço: Rua Dos Bombeiros Qd. 248 Lts 12, 14 E 15 - Pq Amazônia- Goiânia - GO - 74.835-210<br>
						Telefone: (62) 3218-5946 / 5174<br>
						E-mail: <a href="mailto:sindespgoias@uol.com.br">sindespgoias@uol.com.br</a><br>
						Presidente: Leonardo Ottoni Vieira
					</li> 
					<li>
						<strong>SINDESP/MA</strong><br>
						Endereço: Rua Oswaldo Cruz,1555 - Sala 708 - 7º Andar - Ed. João Pessoa - São Luís - MA - 65020-251<br>
						Telefone: (98) 3221-4557<br>
						E-mail: <a href="mailto:sindespma@bol.com.br">sindespma@bol.com.br</a><br>
						Presidente: Domingos Alcântara Gomes
					</li> 
					<li>
						<strong>SINDESP/MG</strong><br>
						Endereço: Av.Raja Gabáglia, 1492 Sl 1001/1004-10º Andar - Belo Horizonte - MG - 30.441-194<br>
						Telefone: (31) 3327-5300<br>
						E-mail: <a href="mailto:sindesp-mg@sindesp-mg.com.br">sindesp-mg@sindesp-mg.com.br</a><br>
						Presidente: Edson Pinto Neto
					</li> 
					<li>
						<strong>SINDESP/MT</strong><br>
						Endereço: R.Des.Ferreira Mendes 233 Ed Master Center Sl 2/3 - Centro Sul - Cuiabá - MT - 78020-200<br>
						Telefone: (65) 3027-6607 / 3607<br>
						E-mail: <a href="mailto:secretaria@sindesp-mt.com.br">secretaria@sindesp-mt.com.br</a><br>
						Presidente: Angelo Roberto Jacomini
					</li> 
					<li>
						<strong>SINDESP/MS</strong><br>
						Endereço: Rua Dom Aquino, 1354 - 8° Andar Sl 87 Centro - Campo Grande - MS - 79002-180<br>
						Telefone: (67) 3382-9907 / 0400<br>
						E-mail: <a href="mailto:sindesvms@brturbo.com.br">sindesvms@brturbo.com.br</a><br>
						Presidente: Francisco de Assis Moura
					</li> 
					<li>
						<strong>SINDESP/PA</strong><br>
						Endereço: Rua Dos Mundurucus, 3.100  Ed Metropolitan Tower - Guamá - Belém - PA - 66.073-000<br>
						Telefone: (91) 3246-3436<br>
						E-mail: <a href="mailto:gerencia.sindesp@sindesp-pa.com.br">gerencia.sindesp@sindesp-pa.com.br</a><br>
						Presidente: Oziel Mattos Carneiro
					</li> 
					<li>
						<strong>SINDESP/PB</strong><br>
						Endereço: Av. Dom Pedro Ii, 1269 Sala 802/803 Ed Sintese - Centro - João Pessoa - PB - 58.013-000<br>
						Telefone: (83) 3241-6466 / 6489<br>
						E-mail: <a href="mailto:sindesp-pb@hotmail.com">sindesp-pb@hotmail.com</a><br>
						Presidente: Elson Batista Ramos
					</li>
					 <li>
						<strong>SINDESP/PE</strong><br>
						Endereço: Av. Agamenon Magalhães, 2764 Sala 103 Ed Emp.Ant - Albuq.Gal.Espinheiro - Recife - PE - 52.020-000<br>
						Telefone: (81) 3421-4520 e 3423-5032<br>
						E-mail: <a href="mailto:sindesp@sindesp-pe.com.br">sindesp@sindesp-pe.com.br</a><br>
						Presidente: Agostinho Rocha Gomes
					</li> 
					<li>
						<strong>SINDESP/PR</strong><br>
						Endereço: Rua João Parolin, Nº 1416 – Parolin CEP 80220-290 Curitiba – PR<br>
						Telefone: (41) 3233-6787 / 6880<br>
						E-mail: <a href="mailto:sindesp-pr@sindesp-pr.org.br">sindesp-pr@sindesp-pr.org.br</a><br>
						Presidente: Jeferson Furlan Nazário
					</li> 
					<li>
						<strong>SINDESP/PI</strong><br>
						Endereço: Av. Miguel Rosa, 3680 - Centro - Av. Miguel Rosa, 3680 - Centro - PI - 64001-490<br>
						Telefone: (86) 2107-1418 / 1428<br>
						E-mail: <a href="mailto:seac_pi@terra.com.br">seac_pi@terra.com.br</a><br>
						Presidente: Francisco de Assis Veras Fortes
					</li> 
					<li>
						<strong>SINDESP/RJ</strong><br>
						Endereço: Av. Paulo De Frontin, 383 - Rio Comprido - Rio De Janeiro Rio De Janeiro - RJ - 20261-240<br>
						Telefone: (21) 2293-4354 e 2502-6601<br>
						E-mail: <a href="mailto:sindesp-rj@veloxmail.com.br">sindesp-rj@veloxmail.com.br</a><br>
						Presidente: Frederico Carlos Crim Camara
					</li> 
					<li>
						<strong>SINDESP/RN</strong><br>
						Endereço: Av.Odilon Gomes De Lima, 1727 Sala 06 Pred.Comerc - Capim Macio - Natal - RN - 59078-400<br>
						Telefone: (84) 3217-0476<br>
						E-mail: <a href="mailto:sindesprn@hotmail.com">sindesprn@hotmail.com</a><br>
						Presidente: José Rossini Araújo Braulino
					</li> 
					<li>
						<strong>SINDESP/RO</strong><br>
						Endereço: Rua Belém Nº 501 - Pedacinho De Chão - Porto Velho - RO - 76820-734<br>
						Telefone: (69) 3212-0404<br>
						E-mail: <a href="mailto:sindespro@hotmail.com">sindespro@hotmail.com</a><br>
						Presidente: Francisco Assis B. Fonseca
					</li> 
					<li>
						<strong>SINDESP/RR</strong><br>
						Endereço: Av. São Paulo 568 - Bairro Dos Estados - Boa Vista - RR - 69305-480<br>
						Telefone: (95) 3224-8109 / 1338<br>
						E-mail: <a href="mailto:transvig@transvig.com.br">transvig@transvig.com.br</a><br>
						Presidente: Raimundo Nonato Rodrigues Coelho
					</li> 
					<li>
						<strong>SINDESP/RS</strong><br>
						Endereço: Av. Getúlio Vargas, 1570 Sala 207 - Porto Alegre - RS -90150-004<br>
						Telefone: (51) 3233-7172 / 9744<br>
						E-mail: <a href="mailto:sindesprs@terra.com.br">sindesprs@terra.com.br</a><br>
						Presidente: Paulo Renato Pacheco
					</li> 
					<li>
						<strong>SINDESP/SC</strong><br>
						Endereço: R.Deodoro,226 Ed. Marco Pólo 4° Andar - Centro - Florianópolis - SC - 88010-020<br>
						Telefone: (48) 3223-1678 / 1393<br>
						E-mail: <a href="mailto:sindesp@sindesp-sc.org.br">sindesp@sindesp-sc.org.br</a><br>
						Presidente: Dilmo Wanderley Berger
					</li> 
					<li>
						<strong>SINDESP/SE</strong><br>
						Endereço: Av.Rio Branco, 186-Ed. Oviedo Teixeira Sl 408/410  - Centro - Aracaju - SE - 48018-000<br>
						Telefone: (79) 3211-2284<br>
						E-mail: <a href="mailto:sindesp-se@infonet.com.br">sindesp-se@infonet.com.br</a><br>
						Presidente: Marco Aurélio Pinheiro Tarquínio
					</li> 
					<li>
						<strong>SESVESP</strong><br>
						Endereço: R. Bernadino Fanganiello, 691 Casa Verde Baixa - São Paulo - SP - 02512-000<br>
						Telefone: (11) 3858-7360<br>
						E-mail: <a href="mailto:sesvesp@sesvesp.com.br">sesvesp@sesvesp.com.br</a><br>
						Presidente: João Eliezer Palhuca
					</li> 
					<li>
						<strong>SINDESP/TO</strong><br>
						Endereço: Rua Buenos Aires Nº 493 - Setor Martin Jorge - Martin Jorge - Araguaína - TO - 77817-530<br>
						Telefone: (63) 3213-2288<br>
						E-mail: <a href="mailto:sindespto@uol.com.br">sindespto@uol.com.br</a><br>
						Presidente: Renê Rodrigues de Mendonça Filho
					</li> 
					<li>
						<strong>SINESVINO</strong><br>
						Endereço: Rua Julio de Castilhos, 651 Sala 109 – Centro – Farroupilha – RS 95180-000<br>
						Telefone: (54) 3268-6555<br>
						E-mail: <a href="mailto:sinesvino@gmail.com">sinesvino@gmail.com</a><br>
						Presidente: Vivaldi Pereira Rodrigues
					</li>
				</ul>


				
				

			</div>
		</div>

	</div>

</div>
{% endblock %}