{% extends 'base.html' %}
{% block container %}
<div class="container">
	
	<div class="col-sm-12 col-lg-10 col-lg-offset-1">

		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">Início</a></li>
				<li><a href="#">Institucional</a></li>
				<li class="active">Sobre</li>
			</ol>
		</div>

		<div class="row">
			<div class="col-sm-12">

				<h2>Conheça a Fenavist</h2>

				<p class="lead">A Federação Nacional das Empresas de Segurança e Transporte de Valores, Fenavist, é uma entidade sindical patronal criada para representar os interesses do segmento de segurança privada brasileiro.</p>		

				<div class="row">
					<div class="col-sm-6">
						<p>Com sede em Brasília, a Federação agrega sindicatos nas 27 unidades federativas do país, duas associações e empresas associadas que representam cerca de 2.300 empresas, responsáveis pela geração de mais de 700 mil empregos diretos. A Fenavist tem jurisdição nacional sendo também filiada à <a href="http://www.cnc.org.br" target="_blank">Confederação Nacional do Comércio - CNC</a>.</p>
					</div>
					 
					<div class="col-sm-6">
						<p>Em parceria com os sindicatos, a Fenavist tem o compromisso de representar os empresários de segurança de forma ampla e transparente, com o objetivo de unir a comunidade de segurança privada no Brasil, prestando serviços e promovendo modernização e crescimento para a atividade.</p>
					</div>
				</div>

				<div class="row espaco-top">
					<div class="col-sm-12 col-md-10 col-lg-10">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dvEu4VxFh6M" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				</div>

			</div>
		</div>


		<!-- *************** HISTÓRICO *************** -->

		<div class="row espaco-top-lg">
			<div class="col-sm-12">
				<h3>História</h3>

				<p>A Fenavist foi criada em 1º de março de 1989 para congregar as empresas das categorias representadas pelos sindicatos de segurança, transporte de valores e cursos de formação de vigilantes. Ela foi fundada pelos sindicatos Sindesp/DF, Sindesp/RJ, Sindesp/RS, Sindesp/CE, Sindesp/PR, Sindesp/MG, Sindesp/PE e teve como primeiro presidente o Sr. Eunício Lopes de Oliveira. Atualmente, impulsionada pelo propósito de representar o segmento em todo o país, a Fenavist tem buscado inovar na qualidade dos serviços prestados e modernizar-se para acompanhar as mudanças do país.</p>
			</div>
		</div>


		<!-- *************** MISSÃO: redundante *************** -->

		<!-- <div class="row espaco-top">
			<div class="col-sm-12">
				<h3>Missão</h3>

				<p class="lead">"Assegurar às atividades de segurança privada melhores condições para gerar resultados positivos e contribuir para o desenvolvimento da sociedade."</p>
			</div>
		</div> -->


		<!-- *************** ATIVIDADES ***************-->

		<div class="row espaco-top-lg">
			<div class="col-sm-12">

				<h3>Atividades da Federação</h3>

				<!-- <p>De acordo com prerrogativas constitucionais, a entidade exerce diversas atividades no trabalho de representação sindical:</p> -->

				<ul class="list-unstyled blocos-grandes espaco-top">
					<li><span>Interceder junto a autoridades competentes em busca de soluções e entendimentos com base nos interesses e direitos da categoria</span></li>
					<li><span>Promover e assistir as empresas na realização e elaboração de Convenções e Acordos Coletivos de Trabalho, bem como auxiliar na resolução de conflitos em dissídios coletivos</span></li>
					<li><span>Celebrar convênios e parcerias com sindicatos, entidades, empresas públicas e privadas, entre outros, no intuito de unir forças em assuntos de interesse comum</span></li>
					<li><span>Participar da administração dos serviços sociais SESC e SENAC, por meio de conselheiros eleitos</span></li>
					<li><span>Desenvolver trabalho junto a Confederação Nacional do Comércio (CNC)</span></li>
					<li><span>Exercer representatividade na Comissão Consultiva para Assuntos de Segurança Privada (CCASP)</span></li>
				</ul>

				<div class="text-center">
					<a href="../static/media/Estatuto_Fenavist2014.pdf" class="btn btn-primary btn-lg espaco-top">
						<span class="glyphicons glyphicons-log-book"></span> Ver Estatuto
					</a>
				</div>

				<!-- Esse capitulo é muito técnico. Eu removeria do site -->

				<!-- <h4>Atividades da gerência</h4>

				<ul>
					<li>Supervisiona o trabalho da equipe administrativa da Fenavist e atua como elo entre as ações e decisões políticas e o trabalho operacional, visando o cumprimento da missão da Fenavist de representar com ética e excelência o setor de segurança privada brasileiro.</li>
				</ul> -->

			</div>
		</div>


		<!-- *************** RECURSOS ***************-->

		<div class="row espaco-top-lg">
			<div class="col-sm-12">

				<h3>Origem dos recursos</h3>

				<!-- <p>O sistema de representação sindical do setor de segurança privada é suprido essencialmente pelas contribuições dos associados, que são:</p> -->

				<div class="row espaco-top">
					<div class="col-sm-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>Contribuição Sindical</h4>
							</div>
							<div class="panel-body">
								<p>Calculada com base no capital social das empresas, tem o valor arrecadado dividido entre sindicatos (60%), Fenavist (15%), CNC (5%) e Ministério do Trabalho e Emprego – MTE (20%)</p>
								<div class="progress">
									<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 15%;">
									15%
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>Contribuição Confederativa</h4>
							</div>
							<div class="panel-body">
								<p>Calculada com base no número de vigilantes. O valor arrecadado é repassado em diferentes percentuais para sindicatos (75%), Fenavist (20%) e CNC (5%)</p>
								<div class="progress">
									<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
									20%
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>



		<!-- *************** ORGANOGRAMA ***************-->

		<div class="row espaco-top-lg">
			<div class="col-sm-12">

				<h3>Organograma</h3>

				<div class="row">
					<div class="col-sm-6 espaco-top">
						<img src="http://www.fenavist.com.br/images/organograma.gif" class="img-responsive">
					</div>
					<div class="col-sm-6 espaco-top">
						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingOne">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											Jurídico
										</a>
									</h4>
								</div>
								<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
									<div class="panel-body">
										Orienta a Fenavist e seus sindicatos filiados em questões jurídicas de cunho nacional, produzindo pareceres e análises sobre regulamentações, com o intuito de apontar implicações e antecipar o posicionamento do setor, além de esclarecer dúvidas e direcionar os sindicatos. A Consultoria Jurídica está sempre presente às reuniões da Federação para esclarecer questionamentos dos associados. A formulação de argumentações legais, redação de documentos oficiais e acompanhamento de audiências com órgãos federais, na defesa dos interesses legítimos do setor, também fazem parte do trabalho deste departamento.
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingTwo">
									<h4 class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
											Estatística
										</a>
									</h4>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
									<div class="panel-body">
										Centro de referência de dados estatísticos da segurança privada no Brasil. Possui o mais atualizado banco de dados do setor, com informações que vão desde o comportamento das empresas até dados socioeconômicos do segmento. Em 2004, a Federação publicou o Estudo do Setor da Segurança Privada (ESSEG), que oferece um panorama atualizado das atividades do setor. Outra ferramenta desse departamento é o Sistema de Apoio a Decisões (SAD), que armazena diversos dados cadastrais das empresas, permitindo a Fenavist acompanhar a movimentação junto ao Departamento de Polícia Federal. A Estatística mantém parcerias com diversos órgãos federais, sindicatos e entidades, o que facilita a atualização dos dados.
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingThree">
									<h4 class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
											Assessoria
										</a>
									</h4>
								</div>
								<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
									<div class="panel-body">
										Identifica e acompanha decisões que são analisadas pelo Congresso Nacional e Legislativos Estaduais, em parceria com sindicatos locais. Trabalha também para aumentar o relacionamento do setor com parlamentares, levando informações sobre a dinâmica e as características do segmento.
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingFour">
									<h4 class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
											Consultoria Econômica
										</a>
									</h4>
								</div>
								<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
									<div class="panel-body">
										Presta assessoria econômica ao setor de segurança privada, elaborando, analisando e reformulando planilhas de custos administrativos, formação de preços, piso salarial, encargos sociais, entre outras. Desenvolve também um trabalho de pesquisa e elaboração de análises econômicas e financeiras do setor.
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingFive">
									<h4 class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
											Consultoria de Comunicação
										</a>
									</h4>
								</div>
								<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
									<div class="panel-body">
										Responsável pelo planejamento, execução, coordenação e avaliação das ações de comunicação social, visando reforçar o conhecimento e o entendimento da sociedade sobre a importância do setor de segurança privada. Procura manter o correto posicionamento da imagem institucional da Federação junto aos públicos interno (sindicatos, empresas) e externo (Executivo, Legislativos, Imprensa, Organismos Internacionais e outras Entidades Sindicais). Para disseminar informações de interesse do setor, a consultoria desenvolve um trabalho de aproximação entre a mídia e a instituição, além de produzir publicações como a Revista da Fenavist (quadrimestral), as Atuações semanais, Releases, artigos e notícias do setor no Facebook.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>		
		

			</div>
		</div>

	</div>

</div>
{% endblock %}